// Set box-sizing globally to handle padding and border widths
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
 
html {
  font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif !important;
  font-size: $gel-base-font-size;
  color: palette(type, body);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif !important;
    background-color: palette(brand, d);
}

#blq-global *, #blq-global *:before, #blq-global *:after, #orb-banner *, #orb-banner *:before, #orb-banner *:after, #orb-footer *, #orb-footer *:before, #orb-footer *:after {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
#se-searchbox-app *, #orb-search-form *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#academy-content {
    outline: none;

    &:focus {
        outline: none;
    }
}

.mq-output {
    display: block;
    background: aliceblue;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 0 10px 0;
    z-index: 100;

    &:after {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px;
        border-radius: 0 10px 0 0;
        z-index: 100;
        content: "BP - min 0px";
        background: #4A8A94;
    }

    @include bp(mc, min-width) {
        &:after{
            content: "BP - mc - min 400px";
            background: #4A8A94;
        }
    }
    
    @include bp(xs, min-width) {
        &:after{
            content: "BP - xs - min 480px";
            background: #4A8A94;
        }
    }

    @include bp(fc, min-width) {
        &:after{
            content: "BP - fc - min 600px";
            background: #4A8A94;
        }
    }

    @include bp(s, min-width, portrait) {
        &:after{
            content: "BP - s - min 768px";
            background: #4A8A94;
        }
    }

    @include bp(m, min-width) {
        &:after{
            content: "BP - m - min 1008px";
            background: #75C98A;
        }
    }

    @include bp(l, min-width) {
        &:after{
            content: "BP - l - min 1280px";
            background: #C9E86C;
        }
    }
}