/* ==========================================================================
   BASE NO JS STYLES
   ========================================================================== */

//* ===========================BLOCK
.no-js {

    //* =======================ELEMENT
    .search {
        position: relative;
        left: auto;
        float: left;
        width: 100%;
        padding: 0 double($gel-spacing-unit) 0 24px;
        margin-top: 8px;

        &__input {
            opacity: 1;
            display: block;
        }

        &__button {
            right: 0;
            background-color: palette(shades, white);

            &--clear {
                display: none;
            }
        }

        &__overlay {
            display: none;
        }

        &--block {
            .search {
                margin: 0;
                padding: 0 0 0 double($gel-spacing-unit);
            }
        }
    }

    .nav {
        &__list {
            padding: 0;
        }
        &__link {
            &.expand {
                background: none;
                padding: 0;
            }
        }
        &--base {
            @extend .nav;
            display: block;
            margin-bottom: 0;
            margin-top: 0;
            background-color: palette(shades, black);

            &__button {
                @extend .button;
                width: 100%;
            }
        }
    }

    .detection {
        &__icon {
            &__svg {
                background: transparent;
            }
        }
    }

    .no-results {
        &__link {
            display: none;
        }
    }

    .tabs {
        &__content[aria-hidden='true'] {
            display: block;
        }

        &__more {
            display: none;
        }

        &__button {
            display: block;
            width: 100%;
            margin: double($gel-spacing-unit) auto;
        }

        &--filter {
            .tabs__item {
                &:first-child {
                    width: 100%;
                }
            }
        }

        &--sidebar {
            .tabs__list {
                display: none;
            }
            .tabs__col {
                width: 100%;
            }
            .tabs__content {
                &:first-of-type {
                    padding: $gel-spacing-unit;
                }
                &:last-of-type {
                    padding: $gel-spacing-unit $gel-spacing-unit;
                }
            }
        }
    }

    .course {
        &__pic {
            margin-bottom: 170px;
        }
        &__skip {
            &__svg {
                top: 6px;
            }
        }
    }

    .dates {
        &__spaces {
            display: none;
        }
        &__icon {
            top: 5px;
        }
    }

    .dropdown {
        &__options {
            display: block;
        }
    }

    .video {
        &__container {
            padding-bottom: 0;
        }
        &__player {
            @extend .ratio;
            display: block;
            &:after {
                @extend #{gel(pica)};
                @include background-image('/academy/static/img/svg/warning-icon.svg', double($gel-spacing-unit) 50%, $gel-spacing-unit*3);
                background-color: palette(alerts, error);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                cursor: pointer;
                color: #ffffff;
                line-height: 1;
                width: auto;
                padding: double($gel-spacing-unit) double($gel-spacing-unit) double($gel-spacing-unit) $gel-spacing-unit*7;
                border-bottom: 0;
                content: "Javascript is required to view this media element";

                @include bp(s, min-width, portrait) {
                    padding: quadruple($gel-spacing-unit) quadruple($gel-spacing-unit) quadruple($gel-spacing-unit) $gel-spacing-unit*12;
                    background-position: quadruple($gel-spacing-unit) 50%;
                    background-size: quadruple($gel-spacing-unit);
                }
            }
        }
    }

    .pocket {
        &__toggle {
            display: none;
        }
    }

    .accordion {
        &__link {
            &__icon {
                display: none;
            }
        }

        &__answer {
            display: block;
        }
    }

    .card {
        &__media-icon {
            &__svg {
                padding: 14px;
            }
        }

        &__button {
            &__shelf {
                opacity: 1;
                width: 100%;
                height: auto;
                z-index: 2;
                position: relative;

                .close-x {
                    display: none;
                }
            }
        }

        &__flag {
            &__svg {
                width: 15px;
                left: 3px;
            }
        }
    }

    .carousel {
        @extend .wrapper;
        margin: auto;
        position: relative;
        overflow: scroll;
        overflow-x: scroll;
        overflow-y: hidden;

        &__list {
            width: 8000px;
        }

        &__item {
            float: left;
            width: 380px;

            &__darken {
                display: none;
            }

            .card {
                position: relative;

                &__tags {
                    transition-delay: .5s;
                    opacity: 1;
                    bottom: 56px;
                    left: 8px
                }
                &__heading {
                    transition-delay: .4s;
                    opacity: 1;
                    bottom: 32px;
                    left: 8px
                }
                &__data {
                    &__wrapper {
                        transition-delay: .4s;
                        opacity: 1;
                        bottom: 8px;
                        left: 8px;
                        margin: 0;
                    }
                }
            }
        }
    }

    .scroll-carousel {
        &__visible {
            &::-webkit-scrollbar {
                display: block;
            }
        }
        &__buttons {
            display: none;
        }

        &--dates {
            .scroll-carousel {
                &__container, &__viewport, &__list, &__item {
                    height: 476px;
                }
            }

            .scroll-carousel {
                &__container {
                    &:after {
                        height: 500px;
                    }
                }
            }
        }
    }

    .back-to-top {
        opacity: 1;

        &__wrapper {
            display: none;
        }

        &__svg {
            float: left;
            padding: 15px 32px 0 0;
        }
    }

    .card--collections .card__media-icon__svg, .hero--collections .card__media-icon__svg {
        padding: 8px 8px !important;
    }

    .article header .page__tag .card__data__wrapper .data__icon__svg {
        margin-top: 5px;
    }

    .featured__item--main .card__media-icon__svg {
        padding: 24px !important;
    }

    .collections {
        &__sections {
            position: relative;
            top: 20px;

            &__wrapper {
                display: none;
            }
        }
    }

    .hero {
        padding: quadruple($gel-spacing-unit) 0;
    }

    .scrollbar {
        display: none;
    }

    .language {
        &__icon {
            &__svg {
                top: 4px;
                padding: 0;
            }
        }
    }

    .sortby {
        &__icon {
            width: 30px;

            .icon__falback {
                width: double($gel-spacing-unit);
            }
        }
    }

    span[data-type="BBC-PID"], span[data-type="BBC-SID"] {
        @extend .ratio;
        display: block;
        &:after {
            @extend #{gel(pica)};
            @include transition(all .3s ease);
            @include background-image('/academy/static/img/svg/warning-icon.svg', double($gel-spacing-unit) 50%, $gel-spacing-unit*3);
            background-color: palette(alerts, error);
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            cursor: pointer;
            color: #ffffff;
            line-height: 1;
            width: auto;
            padding: double($gel-spacing-unit) double($gel-spacing-unit) double($gel-spacing-unit) $gel-spacing-unit*7;
            border-bottom: 0;
            content: "Javascript is required to view this media element";

            @include bp(s, min-width, portrait) {
                padding: quadruple($gel-spacing-unit) quadruple($gel-spacing-unit) quadruple($gel-spacing-unit) $gel-spacing-unit*12;
                background-position: quadruple($gel-spacing-unit) 50%;
                background-size: quadruple($gel-spacing-unit);
            }
        }
    }

    #homepage {
        .main--left {
            width: 100%;
        }
        .sidebar {
            width: 100%;
        }
    }

    //* =======================MODIFIER

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {
        .tabs {
            &--filter {
                .tabs__item {
                    &:first-child {
                        width: auto;
                    }
                }
            }
        }
        .carousel {
            &__item {
                width: 460px;
                .card {
                    &__tags {
                        bottom: 66px;
                    }
                    &__heading {
                        bottom: 36px;
                    }
                }
            }
        }
    }

    @include bp(s, min-width, portrait) {
        .search {
            margin-top: 0;
        }
        .tabs {
            &__button {
                width: 300px;
                margin: 0 auto;
            }
            &--sidebar{
                .card--panel .card__media figure {
                    padding-bottom: 50%;
                }

                .tabs__content {
                    &:first-of-type {
                        padding: double($gel-spacing-unit);
                    }
                    &:last-of-type {
                        padding: double($gel-spacing-unit) double($gel-spacing-unit);
                    }
                }
            }
        }
        .featured__item {
            &--sub {
                width: 100%;
                .featured__col {
                    width: 50%;
                }
            }
        }
        .carousel {
            &__item {
                width: 740px;
                .card {
                    &__tags {
                        bottom: 76px;
                        left: double($gel-spacing-unit)
                    }
                    &__heading {
                        left: double($gel-spacing-unit)
                    }
                    &__data {
                        &__wrapper {
                            bottom: double($gel-spacing-unit);
                            left: double($gel-spacing-unit);

                            .data__icon__svg {
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @include bp(m, min-width) {
        .search {
            float: right;
            width: 375px;
            padding: 0 0 0 24px;

            &--block {
                .search {
                    width: 100%;
                }
            }
        }
        .nav {
            max-height: 1000px;
            background: palette(brand, a);

            &__link {
                &.expand {
                    padding: 0 10px;
                }
            }

            &--base {
                display: none;

                &__button {
                    display: none;
                }
            }
        }
        #logo {
            width: 100%;
            margin: 5px 0 0 0;
        }
        .tabs {
            &--sidebar {
                .tabs__content {
                    &:first-of-type {
                        padding: double($gel-spacing-unit) double($gel-spacing-unit) 0;
                    }
                    &:last-of-type {
                        padding: double($gel-spacing-unit);
                    }
                }
                .tabs__col {
                    width: gel-columns(1, 3);
                }
                .card--panel {
                    margin-bottom: 0;
                }
            }
        }
        .card--panel .card__media-link.mod figure img {
            top: 0;
        }
        .carousel {
            &__item {
                width: 900px;
                .card {
                    &__tags {
                        bottom: 88px;
                    }
                    &__heading {
                        bottom: 50px;
                    }
                }
            }
        }
    }

    @include bp(l, min-width, true) {
        .featured__item {
            &--main {
                width:60%;

                .card__body {
                    min-height: 220px;
                }
            }
            &--sub {
                width: 40%;

                .featured__col {
                    width: 100%;
                }
                .card__media figure {
                    padding-bottom: 37.8%;
                }
                .card__body {
                    min-height: 90px;
                }
            }
        }
        .carousel {
            &__item {
                width: 1100px;
            }
        }
    }
}
