/* ==========================================================================
   BASE LOGO STYLES
   ========================================================================== */

//* ===========================BLOCK
.logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    float: left;
    margin: $gel-spacing-unit 0 0 double($gel-spacing-unit);
    padding: 0;
    overflow: hidden;
    width: 155px;
    height: 26px;

    //* =======================ELEMENT
    &__link {
        border: none;
        width: 100%;
        display: block;
    }

    &__icon {
        position: relative;
        margin: 0;
        width: 160px;
        height: 24px;

        title {
            color: palette(shades, white);
        }
    }

    &__container {
        &--forstyleguide {
            float: left;
            width: 100%;
            padding: double($gel-spacing-unit);
            background-color: palette(brand, a);
        }
    }

    //* =======================MODIFIER
    &--translated {
        @extend .logo;
        overflow: visible;

        .logo__link {
            @extend .col;
            font-weight: normal;
            font-size: 26px;
            line-height: 26px;
            padding: 0;
            color: palette(shades, white);
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(mc, min-width) {
        margin: $gel-spacing-unit 0 0 $gel-spacing-unit*3;
    }

    @include bp(xs, min-width) {
        margin: $gel-spacing-unit 0 0 $gel-spacing-unit*3;
    }

    @include bp(s, min-width, portrait) {
        margin: $gel-spacing-unit 0 0 quadruple($gel-spacing-unit);
        overflow: visible;

        &.open {
            width: 150px;
        }
    }

    @include bp(m, min-width, true) {
        width: 200px;
        height: 42px;
        padding-top: 0;
        margin: 0 0 0 double($gel-spacing-unit);

        &.open {
            width: 200px;
        }

        &__icon {
            width: 200px;
            height: 40px;
        }

        &--translated {
            width: auto;
            .logo__link {
                line-height: 42px;
            }
        }
    }

    @include bp(l, min-width) {

    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Logo
category: Core - Logo
---

Block description:

```html_example
<div class="logo__container--forstyleguide">
    <div class="logo">
        <a href="/academy/" class="logo__link" title="Academy Logo">
            <figure class="logo__icon"><span class="icon__svg gel-icon-logo"><svg><use xlink:href="#gel-icon-logo"><title>Academy Logo</title></use></svg><noscript><img class="icon__falback" src="/img/svg-fallbacks/gel-icon-logo-white.png" alt="Academy Logo" /></noscript><!--[if lt IE 9]><img class="icon__falback" src="/img/svg-fallbacks/gel-icon-logo-white.png" alt="Academy Logo" /><![endif]--></span>
            <figcaption class="icon__caption">Icon for Academy Logo</figcaption>
            </figure>
        </a>
    </div>
</div>
<!-- End Logo. -->
```
*/