/* ==========================================================================
   BASE BUTTON STYLES
   ========================================================================== */


//* ===========================BLOCK
.button {
    position: relative;
    display: inline-block;
    width: auto;
    text-align: center;
    text-decoration: none;
    color: palette(shades, white);
    background: palette(brand, a);
    padding: double($gel-spacing-unit);
    border-bottom: none;
    transform: scale(1);

    //* =======================MODIFIER
    &:hover {
        color: palette(shades, white);
    }

    &--blue {
        @extend .button;
        background-color: palette(brand, a);
    }

    &--orange {
        @extend .button;
        text-align: left;
        background-color: palette(brand, i);

        &:hover {
            color: palette(shades, white);
        }
    }

    &--detection {
        @extend .button;
        float: right;
        margin-top: quadruple($gel-spacing-unit);
    }

    &--404 {
        @extend .button;
        float: right;
        margin-top: double($gel-spacing-unit);
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width) {
    }

    @include bp(s, min-width, portrait) {
        min-width: 200px;
    }

    @include bp(m, min-width) {
    }

    @include bp(l, min-width) {

    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Primary button
category: Core - Buttons
---

Button styles can be used as a base for all buttons:

```html_example
    <a href="#" class="button">This is a Btn</a>
```
*/

/*doc
---
title: Orange button
category: Core - Buttons
---

Button styles can be used as a base for all buttons:

```html_example
    <a href="#" class="button--orange">This is an orange Btn</a>
```
*/

/*doc
---
title: Burger menu
category: Core - Buttons
---

Please resize your browser to mobile to see the burger menu, this is only visible on mobile:

```html_example
<a href="#menu-base" class="nav__menu-btn">
    <span class="sr-only">Toggle navigation</span>
    <span class="stack"></span>
    <span class="stack"></span>
    <span class="stack"></span>
</a>
```
*/


/*doc
---
title: Loadmore button
category: Core - Buttons
---

Button styles can be used as a base for all buttons:

```html_example
<div class="loadmore">
    <div class="loadmore__container">
        <a href="?q={{ term }}&amp;page={{ nextPage }}#{{ lastId }}" data-page="{{ nextPage }}" data-id="{{ lastId }}" data-term={{ term }} class="loadmore__button"></a>
    </div>
</div>
```
*/

/*doc
---
title: Take Course button
category: Core - Buttons
---

Button styles can be used as a base for all buttons:

```html_example
<div class="course__header__cta">
    <a href="#dates-and-booking" class="course__skip js-scrollto">Take Course
        <div class="course__skip__icon">
            <span class="course__skip__svg">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-down"></use></svg>
                <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png"  alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png" alt=""/><![endif]-->
            </span>
        </div>
    </a>
</div>
```
*/
