/* ==========================================================================
   BASE COLOUR STYLES
   ========================================================================== */


//* ===========================BLOCK
.colour {

    //* =======================ELEMENT
    &__row {
        @extend .row;
    }

    &__col {
        @extend .col;
        width: gel-columns(1, 4);
    }

    &__swatch {
        @extend #{gel(minion)};
        display: block;
        width: 100%;
        text-align: center;
        border-radius: halve($gel-spacing-unit);
        margin-bottom: double($gel-spacing-unit);

        // Brand swatches
        &--brand-a {
            @extend .colour__swatch;
            background-color: palette(brand, a);
        }
        &--brand-b {
            @extend .colour__swatch;
            background-color: palette(brand, b);
        }
        &--brand-c {
            @extend .colour__swatch;
            background-color: palette(brand, c);
        }
        &--brand-d {
            @extend .colour__swatch;
            background-color: palette(brand, d);
        }
        &--brand-e {
            @extend .colour__swatch;
            background-color: palette(brand, e);
        }
        &--brand-f {
            @extend .colour__swatch;
            background-color: palette(brand, f);
        }
        &--brand-g {
            @extend .colour__swatch;
            background-color: palette(brand, g);
        }
        &--brand-h {
            @extend .colour__swatch;
            background-color: palette(brand, h);
        }
        &--brand-i {
            @extend .colour__swatch;
            background-color: palette(brand, i);
        }

        // Shade swatches
        &--white {
            @extend .colour__swatch;
            background-color: palette(shades, white);
        }
        &--lightergray {
            @extend .colour__swatch;
            background-color: palette(shades, lightergray);
        }
        &--lightgray {
            @extend .colour__swatch;
            background-color: palette(shades, lightgray);
        }
        &--gray {
            @extend .colour__swatch;
            background-color: palette(shades, gray);
        }
        &--darkergray {
            @extend .colour__swatch;
            background-color: palette(shades, darkergray);
        }
        &--darkgray {
            @extend .colour__swatch;
            background-color: palette(shades, darkgray);
        }
        &--black {
            @extend .colour__swatch;
            background-color: palette(shades, black);
        }

        // Alert swatches
        &--alert-info {
            @extend .colour__swatch;
            background-color: palette(alerts, info);
        }
        &--alert-warning {
            @extend .colour__swatch;
            background-color: palette(alerts, warn);
        }
        &--alert-error {
            @extend .colour__swatch;
            background-color: palette(alerts, error);
        }
        &--alert-success {
            @extend .colour__swatch;
            background-color: palette(alerts, success);
        }
    }

    &__space {
        height: 150px;
    }

    &__copy {
        @extend #{gel(minion)};
        font-size: 11px;
        color: palette(shades, white);
        display: block;
        width: 100%;
        height: 80px;
        text-align: center;
        padding: double($gel-spacing-unit);
        border-bottom-left-radius: halve($gel-spacing-unit);
        border-bottom-right-radius: halve($gel-spacing-unit);
        background-color: rgba(0, 0, 0, 0.5);
    }


    //* =======================MODIFIER
}

//* ===========================STYLE GUIDE

/*doc
---
title: A - Brand colours 
category: Core - Colours
---

Block description:

```html_example
<div class="colour">
    <div class="colour__row">

        <div class="colour__col">
            <div class="colour__swatch--brand-a">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>New Blue</strong><br>palette(brand, a)<br>#121260</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-b">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>New Dark Grey</strong><br>palette(brand, b)<br>#53565a</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-c">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>White</strong><br>palette(brand, c)<br>#FFFFFF</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-d">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Light Grey</strong><br>palette(brand, d)<br>#e4e4e4</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-e">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Dark Dark grey</strong><br>palette(brand, e)<br>#1A1A1A</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-f">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>New Dark Blue</strong><br>palette(brand, f)<br>darken(#121260,10)</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-g">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Orange</strong><br>palette(brand, g)<br>#EC712F</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-h">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>New Light Grey</strong><br>palette(brand, h)<br>#d9e1e2</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--brand-i">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>New Medium Grey</strong><br>palette(brand, i)<br>#888b8d</div>
            </div>
        </div>

    </div>
</div>

```
*/

/*doc
---
title: B - Shades 
category: Core - Colours
---

Block description:

```html_example
<div class="colour">
    <div class="colour__row">

        <div class="colour__col">
            <div class="colour__swatch--white">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>White</strong><br>palette(shades, white)</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--lightergray">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Lighter Gray</strong><br>palette(shades, lightergray)</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--lightgray">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Light Gray</strong><br>palette(shades, lightgray)</div>
            </div>
        </div>
        
        <div class="colour__col">
            <div class="colour__swatch--gray">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Gray</strong><br>palette(shades, gray)</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--darkergray">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Darker Gray</strong><br>palette(shades, darkergray)</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--darkgray">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Dark Gray</strong><br>palette(shades, darkgray)</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--black">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Black</strong><br>palette(shades, black)</div>
            </div>
        </div>

    </div>
</div>
```
*/

/*doc
---
title: C - Alerts 
category: Core - Colours
---

Block description:

```html_example
<div class="colour">
    <div class="colour__row">

        <div class="colour__col">
            <div class="colour__swatch--alert-info">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Alert Info</strong><br>palette(alerts, info)<br>#4babcc</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--alert-warning">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Alert Warning</strong><br>palette(alerts, warn)<br>#ffdc48</div>
            </div>
        </div>

        <div class="colour__col">
            <div class="colour__swatch--alert-error">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Alert Error</strong><br>palette(alerts, error)<br>#fa453d</div>
            </div>
        </div>
        
        <div class="colour__col">
            <div class="colour__swatch--alert-success">
                <div class="colour__space"></div>
                <div class="colour__copy"><strong>Alert Success</strong><br>palette(alerts, success)<br>#02CA9C</div>
            </div>
        </div>

    </div>
</div>
```
*/