/* ==========================================================================
   BASE DIVIDER STYLES
   ========================================================================== */


//* ===========================BLOCK
.divider {
    display: block;
    border: 0;
    height: 4px;
    width: 100%;
    margin: $gel-spacing-unit 0 double($gel-spacing-unit);
    background-color: palette(shades, black);

    //* =======================ELEMENT
    &__icon {
        @extend .icon;
        position: absolute;
        left: 0;
        top: -2px;
        background-color: palette(brand, a);
        z-index: 2;
        width: 32px;
        height: 32px;

        &__svg {
            @extend .icon__svg;
            padding: $gel-spacing-unit;
            
            svg {
                fill: palette(brand, c);
            }
        }
    }
    &__message {
        @extend .h4;
        position: relative;
        float: left;
        color: palette(brand, a);
        background: #E4E4E4;
        padding-right: double($gel-spacing-unit);
        z-index: 2;
    }

    &__line {
        position: absolute;
        top: 14px;
        left: 0;
        width: 100%;
        height: 1px;
        z-index: 0;
    }

    //* =======================MODIFIER
    &--end {
        @include clearfix;
        position: relative;
        margin-top: quadruple($gel-spacing-unit);

        .divider__line {
            background-color: palette(brand, a);
        }
    }

    &--bestmatch {
        @include clearfix;
        @extend .divider--end;

        &__wrapper {
            width: 100%;
            margin-bottom: quadruple($gel-spacing-unit);
        }

        .divider__message {
            margin-left: quadruple($gel-spacing-unit);
            padding-left: double($gel-spacing-unit);
        }
    }

    &--pocket {
        @extend .divider;
        position: absolute;
        top: 50%;
        height: 1px;
        margin: 0;
        background-color: palette(brand, f);

        @include gradientOverlayBottom(50px, 0, 0.8);

        &.open {
            @include gradientOverlayBottom(50px, 0, 0);
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width) {

    }

    @include bp(s, min-width, portrait) {

    }

    @include bp(m, min-width) {

    }

    @include bp(l, min-width) {

    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Grey divider 
category: Core - Divider
---

List styles can be modified by adding modifiers. Typically you'll want to use a `<ul>` element:

```html_example
<hr class="divider">
```

*/

/*doc
---
title: End of results divider 
category: Core - Divider
---

List styles can be modified by adding modifiers. Typically you'll want to use a `<ul>` element:

```html_example
<div class="divider--end">
    <h6 class="divider__message">End of results</h6>
    <span class="divider__line"></span>
</div>
```

*/

