/* ==========================================================================
   BASE LINK STYLES
   ========================================================================== */

//* ===========================BLOCK
a,
.link {
    @extend #{gel(pica)};
    color: palette(type, body);
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #dcdcdc;
    font-weight: bold;
    word-wrap: break-word;
    //* =======================ELEMENT
    //* =======================MODIFIER
    &:hover {
        color: palette(brand, b);
    }
    &--blue {
        @extend .link;
        color: #3e46a4;
        padding: 0 0 3px 0px;
        margin: 0;
    }
    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {}
    @include bp(s, min-width, portrait) {}
    @include bp(m, min-width) {}
    @include bp(l, min-width) {}
} 

#orb-modules {
    a {
        &[href*="//"]:not([href*="bbc.co"]) {
            position: relative; 
            padding-right: 23px;
            &:after {
                content: '';
                position: absolute;
                right: 2px;
                bottom: 2px;
                background: url("/academy/static/img/svg-fallbacks/gel-icon-external-link.png") 50% 50% no-repeat;
                width: 20px;
                height: 20px;
                background-size: 74%;
            }
        }
    }
    .card__button--event{
        a { 
            &[href*="//"]:not([href*="bbc.co"]) {
                position: relative; 
                padding-right: 23px;
                &:after {
                    content: '';
                    position: absolute;
                    right: 4px;
                    bottom: 4px;
                    background: url("/academy/static/img/svg-fallbacks/gel-icon-external-link-white.png") 50% 50% no-repeat;
                    width: 20px;
                    height: 20px;
                    background-size: 74%;
                }
            }
        }
    }
}

.exampleOutput {
    a {
        &[href*="//"]:not([href*="bbc.co"]) { 
            position: relative;
            padding-right: 23px;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 2px;
                background: url("../img/svg-fallbacks/gel-icon-external-link.png") 50% 50% no-repeat;
                width: 20px;
                height: 20px;
                background-size: 74%;
            }
        }
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Standard link 
category: Core - Links
---

List styles can be modified by adding modifiers. Typically you'll want to use a `<ul>` element:

```html_example
<a href="#" class="link">I am a standard link</a>
```

*/


/*doc
---
title: Blue link 
category: Core - Links
---

List styles can be modified by adding modifiers. Typically you'll want to use a `<ul>` element:

```html_example
<a href="#" class="link--blue">I am a blue link</a>
```

*/


/*doc
---
title: External link 
category: Core - Links
---

List styles can be modified by adding modifiers. Typically you'll want to use a `<ul>` element:

```html_example
<a shape="rect" title="Shoreditch Radio - Ditch" href="http://shoreditchradio.co.uk/show/ditch/" target="_self">External link</a>
```

*/