/* ==========================================================================
   BASE BACK TO TOP STYLES
   ========================================================================== */

//* ===========================BLOCK
.back-to-top {
    @extend .wrapper;
    text-align: center;
    margin-bottom: double($gel-spacing-unit);

    //* =======================ELEMENT
    &__link {
        position: relative;
        width: auto;
        height: 48px;
        border: none;
        color: white;
        text-align: center;
        color: palette(type, body);
    }

    &__svg {
        position: relative;
        display: inline-block;
        float: left;
        width: 44px;
        height: 64px;

        svg {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            fill: palette(type, body);
        }
    }

    &__copy {
        height: 64px;
        line-height: 64px;
        margin-left: double($gel-spacing-unit);
    }

    //* =======================MODIFIER

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {

    }

    @include bp(s, min-width, portrait) {
        height: 64px;
    }

    @include bp(m, min-width) {
    }

    @include bp(l, min-width) {
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Back to top
category: Modules - Back to top
---

Module description goes here

```html_example
<div class="back-to-top">
    <a href="javascript:;" class="back-to-top__link">
        <span class="sr-only">Top</span>
        <span class="back-to-top__svg">
            <svg><use xlink:href="#gel-icon-to-top"></use></svg>
            <noscript><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-to-top.png"  alt="media icon"/></noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-to-top.png" alt="media icon"/><![endif]-->
        </span>
        <span class="back-to-top__copy">Top</span>
    </a>
</div>
```

*/
