/* ==========================================================================
   BASE BETA OVERLAY STYLES
   ========================================================================== */

//* ===========================BLOCK
#academy-beta-overlay {
    display: none !important;
    background-color: palette(brand, b);

    .beta {
        //* =======================ELEMENT
        &__dismiss {
            z-index: z(modal);
        }

        &__layout {
            padding: double($gel-spacing-unit)!important;
        }

        &__button {
            &--blue {
                border: 1px solid palette(shades, white) !important;
                background-color: palette(shades, white) !important;
            }
        }

        //* =======================BREAKPOINTS - xs, s, m, l

        @include bp(xs, min-width) {
        }

        @include bp(s, min-width, portrait) {
        }

        @include bp(m, min-width) {
            &__layout {
                padding: quadruple($gel-spacing-unit) 0!important;
            }
            &__layout-item {
                &--controls {
                    right: 0 !important;
                }
            }
        }

        @include bp(l, min-width) {
            &__layout {
                max-width: 1246px !important;
            }
        }
    }
}