/* ==========================================================================
   BASE DOWNLOADS STYLES
   ========================================================================== */

//* ===========================BLOCK
.downloads {
    margin: double($gel-spacing-unit) 0; //* =======================ELEMENT
    h4 {
        margin-bottom: $gel-spacing-unit;
    }
    &__list {
        @extend .list--simple;
        margin: 0!important;
        padding: 0!important;
    }
    &__item {
        @extend .list__item;
        list-style: none;
        a {
            display: flex;
            border-bottom: 0;
        }
        &:hover {
            .downloads__icon__svg {
                background-color: palette(brand, a);
            }
            .downloads__name {
                color: palette(brand, a);
                text-decoration: underline;
            }
        }
    }
    &__line {
        margin-bottom: double($gel-spacing-unit);
        height: 0px; 
        border: 0;
        border-top: 0.5px solid palette(type, body); 
        border-bottom: 0.5px solid palette(type, body);
        background: palette(type, body);
    }
    &__link {
        position: relative;
    }
    &__icon {
        @extend .icon;
        height: 46px;
        width: 46px;
        &__svg {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: palette(brand, i);
            height: 46px;
            width: 46px;
            svg {
                fill: white;
                width: 18px;
                height: 18px;
            }
        }
    }
    &__name {
        height: 46px;
        padding: 0 double($gel-spacing-unit);
        @extend #{gel(long-primer)};
        display: flex;
        align-items: center;
        background-color: rgba(232, 232, 232, 0.4);
        width: 100%;
    } //* =======================MODIFIER
    //* =======================BREAKPOINTS -mc, xs, s, m, l
    @include bp(mc, min-width) {
        ul {
            li {
                width: 100%;
            }
        }
    }
    @include bp(xs, min-width, true) {
        ul {
            li {
                width: 100%;
            }
        }
    }
    @include bp(s, min-width, true) {
        ul {
            li {
                width: 100%;
            }
        }
    }
    @include bp(m, min-width, true) {
        ul {
            li {
                width: 49%;
            }
        }
    }
    @include bp(l, min-width) {
        ul {
            li {
                width: 49%;
            }
        }
    }
}

.downloads--flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}