/* ==========================================================================
   BASE FEATURED SECTION STYLES
   ========================================================================== */

//* ===========================BLOCK
.featured {
    @extend .col;

    //* =======================ELEMENT
    &__heading {
        @extend .h3;
    }
    
    &__row {
        @extend .row;
    }

    &__col {
        @extend .col;
        width: gel-columns(1, 2);
    }

    &__item {
        @extend .col;
        position: relative;
    }

    &__title {
        position: absolute;
        top: double($gel-spacing-unit);
        bottom: auto;
        color: palette(shades, white);
        padding: 0 double($gel-spacing-unit);
        margin: 0;
        width: 100%;
        z-index: 1;
    }

    &__button {
        @extend .button--orange;
        position: absolute;
        right: -$gel-spacing-unit;
        top: auto;
        bottom: double($gel-spacing-unit);
        z-index: 2;
        padding: $gel-spacing-unit;

        figure {
            float: right;
        }

        &__icon {
            @extend .icon;
            width: 16px;
            height: 16px;
            line-height: 18px;

            &__svg {
                @extend .icon__svg;
                
                svg {
                    fill: palette(shades, white);
                }
            }
        }
    }

    //* =======================MODIFIER
    &__item {
        .card__data__wrapper {
            position: relative;
            float: left;
            left: 0;
            bottom: 0;
            margin: 8px 0 8px 8px;
        }

        &--main {
            @extend .featured__item;
            width: 100%;

            .card__body, .card__media {
                width: 100%;
            }

            .card__body {
                .card__heading {
                    @extend .h2;
                }
            }

            .card__description {
                display: none;
            }
        }

        &--sub {
            @extend .featured__item;
            width: 100%;

            .card__description {
                display: none;
            }

            .card__body {
                min-height: 95px;

                h3 {
                    margin-bottom: quadruple($gel-spacing-unit);
                }
            }

            .card__body, .card__media {
                width: 100%;
            }

            .card__heading {
                @extend .h4;
            }

            .card__tag {
                border-left: none;
                padding-left: 0;
            }
            .card__media {
                figure {
                    @extend .ratio--2-1;
                }
            }
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width, true) {
        &__item {
            & + .featured__item {
                margin-top: 0;
            }

            &--sub {
                .card__link {
                    padding-bottom: quadruple($gel-spacing-unit);
                }
                .card__tag {
                    width: auto;
                    border-left: 1px solid #dcdcdc;
                    padding-left: $gel-spacing-unit;
                    margin-left: 2px;
                }
            }
        }
    }

    @include bp(s, min-width, portrait) {
        &__item {
            .card__data__wrapper {
                position: absolute;
                float: none;
                bottom: double($gel-spacing-unit);
                margin: 0;
            }

            &--main {
                .card__media {
                    width: gel-columns(1, 2);
                }
                .card__body {
                    width: gel-columns(1, 2);
                }
                .card__data__wrapper {
                    left: 52%;
                }
            }

            &--sub {
                .card__data__wrapper {
                    left: double($gel-spacing-unit);
                }

                .card__body {
                    h3 {
                        margin-bottom: double($gel-spacing-unit);
                    }
                }
            }
        }
    }

    @include bp(m, min-width, true) {
        &__col {
            width: 100%;
        }

        &__item {
            &--main {
                .card__media {
                    width: gel-columns(2, 3);
                }
                .card__body {
                    width: gel-columns(1, 3);
                }
                .card__data__wrapper {
                    left: 68.5%;
                }
                .card__description {
                    display: block;
                    margin-bottom: quadruple($gel-spacing-unit);
                }
            }
            &--sub {
                width: gel-columns(1, 2);

                .card__body {
                    min-height: 112px;
                }

                @include ie8 {
                    .card {
                        margin-bottom: double($gel-spacing-unit);
                    }
                }             
            }
        }
    }

    @include bp(l, min-width, true) {
        &__item {
            &--main {
                width: gel-columns(1, 2);

                .card__media-icon {
                    width: 84px;
                    height: 84px;
                }

                .card__media-icon__svg {
                    padding: 24px;
                }

                .card__data__wrapper {
                    position: absolute;
                    left: double($gel-spacing-unit);
                    bottom: double($gel-spacing-unit);
                }

                .card__media {
                    width: 100%;

                    figure {
                        padding-bottom: 56.25%;

                        img {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }

                .card__body {
                    width: 100%;
                    min-height: 324px;
                }

                .card__description {
                    display: block;
                }
            }

            &--sub {
                width: gel-columns(1, 5);

                .card__data__wrapper {
                    position: absolute;
                    left: double($gel-spacing-unit);
                    bottom: double($gel-spacing-unit);
                }

                .card__media {
                    figure {
                        padding-bottom: 56.25%;
                    }
                }

                .card__body {
                    min-height: 162px;
                }

                .card__tag {
                    display: block;
                    border-left: none;
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Featured
category: Modules - Featured
---

Module description goes here

```html_example
<section class="featured" id="academy-content" tabindex="-1">
    <div class="featured__row">
        <div class="featured__item--main">
            <div class="card--featured">
                <div class="card__inner">
                    <a href="/academy/beta/en/articles/art20170320104750482" class="card__link">
                        <div class="card__media">
                            <figure>
                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04xgj5k.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                
                                <div class="card__media-icon">
                                    <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-podcast"></use></svg>
                                            <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-podcast-purple.png"  alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon--purple.png" alt="media icon"/><![endif]-->
                                    </span>
                                </div>

                                    <figcaption class="icon__caption">Content type podcast</figcaption>
                            </figure>
                        </div>
                        <!-- End Card Media. -->

                        <div class="card__body">
                            <h3 class="card__heading">How to create stories with sound</h3>
                            <p class="card__description">How can you tell stories effectively using just sound? BBC foreign correspondent Hugh Sykes explains</p>
                        </div>
                    </a>
                    <!-- End Card Body. -->
                    
                    <div class="card__data__wrapper">
                        <span class="card__content-type">Podcast</span>
                    </div>
                </div>
            </div>
            <!-- End Item card. -->
        </div>
        <div class="featured__item--sub">
            <div class="featured__row">
                <div class="featured__col">
                    <div class="card--sub">
                        <div class="card__inner">
                            <a href="/academy/beta/en/articles/art20170126095304692" class="card__link">
                                <div class="card__media">
                                    <figure>
                                        <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04qv5zv.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                        <div class="card__media-icon">
                                            <span class="card__media-icon__svg">
                                                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-document"></use></svg>
                                                    <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-document-purple.png" alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-document-purple.png" alt="media icon"/><![endif]-->
                                            </span>
                                        </div>
                                        <figcaption class="icon__caption">Content type article</figcaption>
                                    </figure>
                                </div>
                                <!-- End Card Media. -->

                                <div class="card__body">
                                    <h3 class="card__heading">Academy on the Road: What's happening in Belfast?</h3>
                                    <p class="card__description">Sign up to our training sessions as we kick head to Northern Ireland for Academy on the Road</p>
                                </div>
                            </a>
                            <!-- End Card Body. -->        
                            
                            <div class="card__data__wrapper">
                                <span class="card__content-type">Article</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Item card. -->
                </div>
                <div class="featured__col">
                    <div class="card--sub">
                        <div class="card__inner">
                            <a href="/academy/beta/en/courses/COU-1043" class="card__link">
                                <div class="card__media">
                                    <figure>
                                        <img src="http://s3-eu-west-1.amazonaws.com/bbcacademyfiles/assets/coursethumbnails/COU-1043_l.jpg" alt="" data-source="item.image" onerror="this.style.display='none'" class="is-loaded">
                                        <div class="card__media-icon">
                                            <span class="card__media-icon__svg">
                                                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-classroom"></use></svg>
                                                <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-classroom-purple.png" alt="data icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-classroom-purple.png" alt="data icon"/><![endif]-->
                                            </span>
                                        </div>
                                        <figcaption class="icon__caption">Content type classroom course</figcaption>
                                    </figure>
                                </div>
                                <!-- End Card Media. -->

                                <div class="card__body">
                                    <h3 class="card__heading">TV News: TV Two-Ways (face to face)</h3>
                                    <p class="card__description">With an ever increasing appetite for 'lives' across BBC News output, this entirely practical course enables...</p>
                                </div>
                            </a>
                            <!-- End Card Body. -->        
                            
                            <div class="card__data__wrapper">
                                <span class="card__content-type">Classroom course</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Item card. -->
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <div class="tabs--sidebar js-tabs">
                <ul class="tabs__list" role="tablist">
                    <li id="tab1" class="tabs__item" aria-controls="tab1-panel" aria-selected="true" role="tab" tabindex="0">
                        <a class="tabs__link tabs__link--active istats-notrack" href="#" tabindex="-1">Latest</a>
                    </li>
                    <li id="tab2" class="tabs__item" aria-controls="tab2-panel" aria-selected="false" role="tab" tabindex="0">
                        <a class="tabs__link tabs__link--active istats-notrack" href="#" tabindex="-1">Blogs</a>
                    </li>
                </ul>

                <div id="tab1-panel" class="tabs__content" aria-labelledby="tab1" role="tabpanel" aria-hidden="false">
                    <div class="tabs__row">
                        <div class="tabs__col">
                            <div class="card--panel">
                                <div class="card__inner">
                                    <div class="card__media">
                                        <a href="/academy/beta/en/articles/art20170307124827517" class="card__media-link ">
                                            <figure>
                                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04w9p0f.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                                <figcaption class="icon__caption">Jamel's how to: Be careful on social media</figcaption>
                                            </figure>
                                        </a>
                                        <div class="card__data">
                                            <a href="/academy/beta/en/articles/art20170307124827517" class="card--panel__link">
                                                <div class="card__type">
                                                    <div class="card__data-icon">
                                                        <span class="card__data-icon__svg">
                                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-video"></use></svg>
                                                            <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-video-white.png"  alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon--white.png" alt="media icon"/><![endif]-->
                                                        </span>
                                                    </div>
                                                    
                                                        <span class="card__type__copy">Video</span>
                                                </div>
                                                <h3 class="card__heading">Jamel's how to: Be careful on social media</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Card Media. -->
                                </div>
                            </div>
                        </div>
                        <div class="tabs__col">
                            <div class="card--panel">
                                <div class="card__inner">
                                    <div class="card__media">
                                        <a href="/academy/beta/en/articles/art20170307122952750" class="card__media-link ">
                                            <figure>
                                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04w3sxl.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                                <figcaption class="icon__caption">Jamel’s how to: Stand out</figcaption>
                                            </figure>
                                        </a>
                                        <div class="card__data">
                                            <a href="/academy/beta/en/articles/art20170307122952750" class="card--panel__link">
                                                <div class="card__type">
                                                    <div class="card__data-icon">
                                                        <span class="card__data-icon__svg">
                                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-video"></use></svg>
                                                            <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-video-white.png"  alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon--white.png" alt="media icon"/><![endif]-->
                                                        </span>
                                                    </div>
                                                    <span class="card__type__copy">Video</span>
                                                </div>
                                                <h3 class="card__heading">Jamel’s how to: Stand out</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Card Media. -->
                                </div>
                            </div>
                        </div>
                        <div class="tabs__col">
                            <div class="card--panel">
                                <div class="card__inner">
                                    <div class="card__media">
                                        <a href="/academy/beta/en/articles/art20170307133826180" class="card__media-link ">
                                            <figure>
                                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04wdytv.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                                <figcaption class="icon__caption">Jamel's how to: Research a company</figcaption>
                                            </figure>
                                        </a>
                                        <div class="card__data">
                                            <a href="/academy/beta/en/articles/art20170307133826180" class="card--panel__link">
                                                <div class="card__type">
                                                    <div class="card__data-icon">
                                                        <span class="card__data-icon__svg">
                                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-video"></use></svg>
                                                            <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-video-white.png"  alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon--white.png" alt="media icon"/><![endif]-->
                                                        </span>
                                                    </div>
                                                    <span class="card__type__copy">Video</span>
                                                </div>
                                                <h3 class="card__heading">Jamel's how to: Research a company</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Card Media. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2-panel" class="tabs__content" aria-labelledby="tab2" role="tabpanel" aria-hidden="true">
                    <div class="tabs__row">
                        <div class="tabs__col">
                            <div class="card--panel">
                                <div class="card__inner">
                                    <div class="card__media">
                                        <a href="http://www.bbc.co.uk/blogs/academy/entries/708e52cf-0c13-45e2-904b-1a6c482e0d5b" class="card__media-link ">
                                            <figure>
                                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04xlglv.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                                <figcaption class="icon__caption">Fake news: How CrossCheck is debunking false election reporting</figcaption>
                                            </figure>
                                        </a>
                                        <div class="card__data">
                                            <a href="http://www.bbc.co.uk/blogs/academy/entries/708e52cf-0c13-45e2-904b-1a6c482e0d5b" class="card--panel__link">
                                                <div class="card__type">
                                                    <div class="card__data-icon">
                                                        <span class="card__data-icon__svg">
                                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-blog"></use></svg>
                                                            <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/><![endif]-->
                                                        </span>
                                                    </div>
                                                    <span class="card__type__copy">Blog post</span>
                                                </div>
                                                <h3 class="card__heading">Fake news: How CrossCheck is debunking false election reporting</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Card Media. -->
                                </div>
                            </div>
                        </div>
                        <div class="tabs__col">
                            <div class="card--panel">
                                <div class="card__inner">
                                    <div class="card__media">
                                        <a href="http://www.bbc.co.uk/blogs/academy/entries/39367b1b-353c-47cf-8565-eff593e3639e" class="card__media-link ">
                                            <figure>
                                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04wyxmc.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                                <figcaption class="icon__caption">Why evocative sound comes first in radio storytelling - Hugh Sykes</figcaption>
                                            </figure>
                                        </a>
                                        <div class="card__data">
                                            <a href="http://www.bbc.co.uk/blogs/academy/entries/39367b1b-353c-47cf-8565-eff593e3639e" class="card--panel__link">
                                                <div class="card__type">
                                                    <div class="card__data-icon">
                                                        <span class="card__data-icon__svg">
                                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-blog"></use></svg>
                                                            <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/><![endif]-->
                                                        </span>
                                                    </div>
                                                    <span class="card__type__copy">Blog post</span>
                                                </div>
                                                <h3 class="card__heading">Why evocative sound comes first in radio storytelling - Hugh Sykes</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Card Media. -->
                                </div>
                            </div>
                        </div>
                        <div class="tabs__col">
                            <div class="card--panel">
                                <div class="card__inner">
                                    <div class="card__media">
                                        <a href="http://www.bbc.co.uk/blogs/academy/entries/ae5fe90d-7f9e-4ed7-bce8-d692a240d2ad" class="card__media-link ">
                                            <figure>
                                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04ww4rw.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                                <figcaption class="icon__caption">BBC Academy launches sites in Bangla, Kyrgyz, Somali, Spanish and Ukrainian</figcaption>
                                            </figure>
                                        </a>
                                        <div class="card__data">
                                            <a href="http://www.bbc.co.uk/blogs/academy/entries/ae5fe90d-7f9e-4ed7-bce8-d692a240d2ad" class="card--panel__link">
                                                <div class="card__type">
                                                    <div class="card__data-icon">
                                                        <span class="card__data-icon__svg">
                                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-blog"></use></svg>
                                                            <noscript>&lt;img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/beta/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/><![endif]-->
                                                        </span>
                                                    </div>
                                                    <span class="card__type__copy">Blog post</span>
                                                </div>
                                                <h3 class="card__heading">BBC Academy launches sites in Bangla, Kyrgyz, Somali, Spanish and Ukrainian</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Card Media. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                  
        </aside>
        <!-- End Sidebar. -->
    </div>
</section>
```

NUNJUKS

```
<main class="wrapper" id="homepage">
    <h2 class="featured__heading">{{ homepage.sections[0].heading }}</h2>
    <div class="row">
        <section class="featured" id="academy-content" tabindex="-1">
            <div class="featured__row">
                <div class="featured__item--main">
                    {% include "partials/modules/card--featured.html" %}
                </div>
                <div class="featured__item--sub">
                    <div class="featured__row">
                        {% for item in homepage.sections[0].items %}
                            {% if loop.index > 1 %}
                            <div class="featured__col">
                                {% include "partials/modules/card--sub.html" %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <aside class="sidebar">
                    {% include "partials/modules/tabs--sidebar.html" %}
                </aside>
                <!-- End Sidebar. -->
            </div>
        </section>
        <!-- End Featured section. -->
    </div>
</main>
```

*/