/* ==========================================================================
   BASE LOCALE STYLES
   ========================================================================== */

//* ===========================BLOCK
.locale {
    //* =======================MODIFIER
    &--en {
        #tab2 {
            display: inline-block;
        }
        .card__tag {
            display: inline-block !important;
        }
        .article {
            header {
                .page__tag {
                    display: inline-block;
                }
            }
        }
        .data__copy:first-letter {
            text-transform: uppercase;
        }
        .card__data p:first-letter {
            text-transform: uppercase;
        }
    }
    &--my {
        .logo {
            &--translated {
                .logo__link {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        .search {
            left: 170px;
        }
        .search--block .search {
            left: 0;
        }
    }

    &--ha {
        .logo {
            &--translated {
                .logo__link {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }

    &--sw {
        .logo {
            &--translated {
                .logo__link {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }

    &--so {
        .logo {
            &--translated {
                .logo__link {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }
    }

    &--rn {
        .search {
            left: 215px;
        }
        .search--block .search {
            left: 0;
        }
    }

    &--sw {
        .search {
            left: 224px;
        }
        .search--block .search {
            left: 0;
        }
    }

    &--so {
        .search {
            width: calc(100% - 370px);
        }
        .search--block {
            .search {
                width: 100%;
            }
        }
    }

    &--bn {
        .card__heading, .page-title, .article__content, .article__body {
            font-family: Times;
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {
    }

    @include bp(s, min-width, portrait) {
        &--rn, &--sw, &--my {
            .search {
                left:0;
            }
        }

        &--zh-hans, &--zh-hant, &--bn {
            .search {
                width: calc(100% - 300px);
            }
            .search--block {
                .search {
                    width: 100%;
                }
            }
        }

        &--uk, &--es, &--id, &--vi {
            .search {
                width: calc(100% - 310px);
            }
            .search--block {
                .search {
                    width: 100%;
                }
            }
        }

        &--en, &--fr, &--rw, &--ru, &--tr, &--hi, &--ha, &--uz {
            .search {
                width: calc(100% - 320px);
            }
            .search--block {
                .search {
                    width: 100%;
                }
            }
        }

        &--sw {
            .search {
                width: calc(100% - 330px);
            }
            .search--block {
                .search {
                    width: 100%;
                }
            }
        }

        &--rn {
            .search {
                width: calc(100% - 340px);
            }
            .search--block {
                .search {
                    width: 100%;
                }
            }
        }

        &--my {
            .search {
                width: calc(100% - 400px);
            }
            .search--block {
                .search {
                    width: 100%;
                }
            }
        }

        &--so {
            .search {
                width: calc(100% - 335px);
            }
            .search--block {
                .search {
                    width: 100%;
                }
            }
        }
    }

    @include bp(m, min-width) {
        &--en, &--fr, &--rw, &--rn, &--sw, &--ru, &--tr, &--uk, &--uz, &--es, &--my, &--zh-hans, &--zh-hant, &--id, &--vi, &--hi, &--bn, &--ha, &--so {
            .search {
                width: 375px;
            }
        }
        &--my, &--ha, &--sw {
            .logo {
                &--translated {
                    .logo__link {
                        font-size: 26px;
                        line-height: 42px;
                    }
                }
            }
        }
    }

    @include bp(l, min-width) {
        &--es {
            .data__copy {
                font-size: 12px;
            }
        }
    }
}