/* ==========================================================================
   BASE SCROLLBAR STYLES
   ========================================================================== */

//* ===========================BLOCK
.scrollbar {
    margin: $gel-spacing-unit 0 0 0;

    //* =======================ELEMENT
    &__wrapper {
        margin-left: 0;
    }

    &__track {
        position: relative;
        width: 100%;
        height: 5px;
        background: palette(brand, i);
        overflow:hidden;
    }

    &__indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        background: palette(shades, white);
        padding: 0;
    }

    //* =======================MODIFIER

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {
    }

    @include bp(s, min-width, portrait) {
        margin: double($gel-spacing-unit) 0 0;
    }

    @include bp(m, min-width) {
    }

    @include bp(l, min-width) {
    }
}