/* ==========================================================================
   BASE SOCIAL STYLES
   ========================================================================== */

//* ===========================BLOCK
.social {
    display: block;
    width: 100%;
    background: palette(brand, f);
    padding: 56px 0;
    text-align: center;

    //* =======================ELEMENT
    &__heading {
        color: palette(shades, white);
        margin-bottom: 64px;
    }

    &__wrapper {
        @extend .wrapper;
    }

    &__row {
        @extend .row;
    }

    &__col {
        @extend .col;
        width: gel-columns(1, 2);
        margin-bottom: quadruple($gel-spacing-unit);
    }

    &__link {
        border: none;
        color: palette(shades, white);
        padding-right: 0 !important;

        &:after {
            content: none !important;
        }

        &:hover {
            color: palette(brand, c);

            .social__icon__svg {
                svg {
                    transform: scale(1.1);
                    transform-origin: 50% 0% 0px;
                    fill: palette(brand, c);
                }
            }
        }
    }

    &__icon {
        @extend .icon;
        height: 70px;

        &--twitter {
            @extend .social__icon;
            width: 57px;
        }
        &--youtube {
            @extend .social__icon;
            width: 68px;
        }
        &--facebook {
            @extend .social__icon;
            width: 26px;
        }
        &--medium {
            @extend .social__icon;
            width: 65px;
        }
        &--instagram {
            @extend .social__icon;
            width: 55px;
        }
        &--soundcloud {
            @extend .social__icon;
            width: 94px;
        }
        &--yammer { 
            @extend .social__icon; 
            width: 57px; 
        } 
 
        &__svg {
            @extend .icon__svg;

            svg {
                fill: palette(shades, white);
            }
        }
    }

    &__copy {
        display: block;
    }

    //* =======================MODIFIER

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width) {
        &__col {
            width: gel-columns(1, 3);
        }
    }

    @include bp(s, min-width, portrait) {
        padding: 64px 0 88px;

        &__col {
            width: gel-columns(1, 6);
        }
    }

    @include bp(m, min-width, true) {
    }

    @include bp(l, min-width) {
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Social
category: Modules - Social
---

Module description goes here

```html_example
<section class="social">
    <h6 class="sr-only">Social links section</h6>
    <div class="social__wrapper">
        <h3 class="social__heading">Follow Us</h3>
        <div class="social__row">
            <div class="social__col">
                <a class="social__link" href="https://twitter.com/bbcacademy" target="_blank" title="opens new window">
                <div class="social__icon--twitter">
                    <span class="social__icon__svg"><svg>
                    <use xlink:href="#acad-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/twitter@2x.png" alt="social icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/twitter@2x.png" alt="social icon"/><![endif]--></span>
                </div><span class="social__copy">Twitter</span></a>
            </div>
            <div class="social__col">
                <a class="social__link" href="https://www.facebook.com/bbcacademy/" target="_blank" title="opens new window">
                <div class="social__icon--facebook">
                    <span class="social__icon__svg"><svg>
                    <use xlink:href="#acad-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/facebook@2x.png" alt="social icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/facebook@2x.png" alt="social icon"/><![endif]--></span>
                </div><span class="social__copy">Facebook</span></a>
            </div>
            <div class="social__col">
                <a class="social__link" href="https://www.youtube.com/user/TheBBCAcademy" target="_blank" title="opens new window">
                <div class="social__icon--youtube">
                    <span class="social__icon__svg"><svg>
                    <use xlink:href="#acad-youtube" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/youtube@2x.png" alt="social icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/youtube@2x.png" alt="social icon"/><![endif]--></span>
                </div><span class="social__copy">YouTube</span></a>
            </div>
            <div class="social__col">
                <a class="social__link" href="https://soundcloud.com/bbcacademy" target="_blank" title="opens new window">
                <div class="social__icon--soundcloud">
                    <span class="social__icon__svg"><svg>
                    <use xlink:href="#acad-soundcloud" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/soundcloud@2x.png" alt="social icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/soundcloud@2x.png" alt="social icon"/><![endif]--></span>
                </div><span class="social__copy">Soundcloud</span></a>
            </div>
            <div class="social__col">
                <a class="social__link" href="https://www.instagram.com/bbcacademy/" target="_blank" title="opens new window">
                <div class="social__icon--instagram">
                    <span class="social__icon__svg"><svg>
                    <use xlink:href="#acad-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/instagram@2x.png" alt="social icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/instagram@2x.png" alt="social icon"/><![endif]--></span>
                </div><span class="social__copy">Instagram</span></a>
            </div>
            <div class="social__col">
                <a class="social__link" href="https://medium.com/bbc-academy-insights" target="_blank" title="opens new window">
                <div class="social__icon--medium">
                    <span class="social__icon__svg"><svg>
                    <use xlink:href="#acad-medium" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/medium@2x.png" alt="social icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/social-icons/medium@2x.png" alt="social icon"/><![endif]--></span>
                </div><span class="social__copy">Medium</span></a>
            </div>
        </div>
    </div>
</section>
```

NUNJUKS

```

```

*/