/* ==========================================================================
   BASE SORT BY STYLES
   ========================================================================== */

//* ===========================BLOCK
.sortby {
    text-align:left;
    margin: 0 0 double($gel-spacing-unit) 0;

    //* =======================ELEMENT
    &__label {
        @extend .small;
        display: inline-block;
        margin-right: $gel-spacing-unit;
    }
    
    &__wrapper {
        position: relative;
        display: inline-block;
        width: 180px;
        height: quadruple($gel-spacing-unit);
        background: palette(brand, a);
    }
    
    &__parent {
        position: relative;
        display: block;
        width: 100%;
        height: quadruple($gel-spacing-unit);
        cursor: pointer;
        font-size: 13px;
        font-size: .8125rem;
        font-weight: bold;
        line-height: 30px;
        color: palette(shades, white);
        padding: 0 0 0 double($gel-spacing-unit);
        z-index: 2;
        text-align: left;
    }

    &__wrapper:hover .sortby__content {
        height: 90px;
        z-index: 3;
    }
    
    &__content {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 180px;
        padding-top: 31px;

        ul {
            background: palette(brand, f);
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100%;
            
            a {
                color: palette(shades, white);
                text-decoration: none;
                width: 100%;
                border: none;
            }
        }

        li {
            list-style: none;
            text-align: left;
            color: palette(shades, white);
            font-size: 13px;
            font-size: .8125rem;
            line-height: 28px;
            height: 30px;
            padding-left: 16px;

            &:hover {
                background: palette(brand, c);
                color: palette(brand, f);
            }
        }

        &:hover {
            height: 90px;
            z-index: 3;
        }
    }
    
    &__content:hover ~ .sortby__parent {
        z-index: 0;
    }

    &__icon {
        @extend .icon__svg;
        left: auto;
        right: 0;
        width: 40px;
        height: 14px;
        z-index: 1;

        svg {
            fill: palette(shades, white);
        }
    }

    //* =======================MODIFIER

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {
    }

    @include bp(s, min-width, portrait) {
        text-align:right;
    }

    @include bp(m, min-width) {
    }

    @include bp(l, min-width) {
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Sort by
category: Modules - Sort by
---

Module description goes here

```html_example
<div class="sortby">
    <span class="sortby__label">Sort by:</span>
    <div class="sortby__wrapper">
        <div class="sortby__content">
            <ul>
                <a href="?q=product&amp;sort=_score"><li>Relevance</li></a>
                <a href="?q=product&amp;sort=modified"><li>Date</li></a>
            </ul>
        </div>
        <div class="sortby__parent">Relevance</div>
        <span class="sortby__icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-down"></use></svg>
            <noscript><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png"  alt=""/></noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png" alt=""/><![endif]-->
        </span>
    </div>    
</div>
```

NUNJUKS

```

```

*/