/* ==========================================================================
   BASE TABS STYLES
   ========================================================================== */

//* ===========================BLOCK
.tabs {
    display: block;

    //* =======================ELEMENT
    &__list {
        @include clearfix;
        display: block;
        list-style: none;
        border-bottom: 1px solid palette(shades, black);
        padding: 0;
        margin: 0 0 double($gel-spacing-unit) 0;
    }

    &__item {
        @extend #{gel(pica)};
        display: inline-block;
        margin: 0;
        float: left;
        padding: 0 double($gel-spacing-unit);

        &:first-child {
            .tabs__link {
                padding-left: 0;
            }
        }
    }

    &__link {
        @include transition(all .3s ease);
        @extend #{gel(pica)};
        display: block;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        margin: 0;
        padding: 12px 0;
        text-transform: capitalize;

        &:hover {
          color: palette(brand, a);
          border-bottom: 3px solid palette(brand, a);
        }

        &--active {
            color: palette(brand, a);
            border-bottom: 3px solid palette(brand, a);
        }
    }
  
    &__content {
        @include transition(all .3s ease);
        width: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    &__more {
        @extend #{gel(great-primer)};
        display: inline-block;
        margin: 0;
        float: right;

        .tabs__link {
            position: relative;
            padding: 12px 32px 12px 16px;

            figure {
                margin: 0;
            }
        }
    }

    &__more-icon {
        @extend .icon;
        position: absolute;
        right: 16px;
        top: 12px;
        width: 12px;
        height: 12px;

        &__svg {
            @extend .icon__svg;
            padding: 0;
            
            svg {
                fill: palette(shades, black);
            }
        }
    }

    &__overflow {
        @include clearfix;
        @include transition(all .3s ease);
        display: none;
        background-color: palette(shades, lightgray);
        margin-top: double(-$gel-spacing-unit);
        margin-bottom: quadruple($gel-spacing-unit);

        .tabs__item:first-child {
            padding: 0 !important;
        }

        li {
            display: block;
            width: 100%;

            .tabs__link {
                border-bottom: none;

                &:hover {
                    border-bottom: none;
                }
            }
            
            &:first-child .tabs__link {
                padding-left: double($gel-spacing-unit);
            }
        }
    }

    &__button {
        @extend .button--orange;
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin-top: double($gel-spacing-unit);
    }

    &__row {
        @extend .row;
    }

    &__col {
        @extend .col;

        &:last-of-type {
            .card--panel {
                margin-bottom: 0;
            }
        }
    }

    //* =======================MODIFIER
    &--filter {
        @extend .tabs;
        overflow: hidden;

        .tabs__item {
            &:first-child {
                font-weight: bold;
                padding: 12px double($gel-spacing-unit) 12px 0;
            }
        }

        &.open {
            .tabs__overflow {
                display: block;
                margin-bottom: double($gel-spacing-unit);
            }

            .tabs__more-icon {
                .tabs__more-icon__svg {
                    svg {
                        transform: rotate(180deg);
                        -sand-transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &--sidebar {
        @extend .tabs;

        .tabs__list {
            border-bottom: none;
            margin: 0;

            .tabs__item[aria-selected='true'] {
                a{
                    color: palette(shades, white);
                    background-color: palette(brand, a);
                    border-bottom: none;
                }
            }
            .tabs__item[aria-selected='false'] {
                a{
                    color: palette(type, body);
                    background: #d0d0d0;
                    border-bottom: none;
                }
            }
        }

        .tabs__item {
            padding: 0;
            width: gel-columns(1, 2);
        }

        .tabs__link {
            font-weight: bold;
            text-align: center;
            padding: 14px 0 14px 0;
            margin-bottom: 0;
            background: #d0d0d0;
            border-bottom: none;
        }

        .tabs__link--active {
            color: palette(shades, white);
            background-color: palette(brand, a);
            border-bottom: none;
        }

        .tabs__content {
            padding: $gel-spacing-unit;
            background-color: palette(brand, a);
        }

        .card--panel {
            margin-bottom: $gel-spacing-unit;

            .card__media {
                figure {
                    @extend .ratio--2-1;
                }
            }
        }
        
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width) {

    }

    @include bp(s, min-width, portrait) {
        &__link {
            padding: 12px 0;
        }

        &__button {
            width: 300px;
            display: block;
            margin: 0 auto;
        }
        &--sidebar {
            .tabs__col {
                width: gel-columns(1, 1);
            }
            .tabs__content {
                padding: double($gel-spacing-unit);
            }
            .card--panel {
                margin-bottom: double($gel-spacing-unit);

                .card__media {
                    figure {
                        img {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }

    @include bp(m, min-width, true) {
        &__button {
            width: 100%;
            display: inline-block;
            margin: double($gel-spacing-unit) auto 0;
        }
    }

    @include bp(l, min-width) {
        &__button {
            font-size: 18px; 
        }
        &--sidebar {
            .card--panel {
                .card__media {
                    figure {
                        padding-bottom: 56.25%;
                    }
                }
            }
        }
    }
}

.tabs__content[aria-hidden='true'] {
   display: none;
}
.tabs__content[aria-hidden='false'] {
   display:block;
}

#tab2 {
    display: none;
}

//* ===========================STYLE GUIDE

/*doc
---
title: Tabs--sidebar
category: Modules - Tabs
---

Module description goes here

```html_example
<div class="locale--en">
    <div class="tabs--sidebar js-tabs">
        <ul class="tabs__list" role="tablist">
            <li aria-controls="tab1-panel" aria-selected="true" class="tabs__item" id="tab1" role="tab" tabindex="0">
                <a class="tabs__link tabs__link--active istats-notrack" href="#" tabindex="-1">Latest</a>
            </li>
            <li aria-controls="tab2-panel" aria-selected="false" class="tabs__item" id="tab2" role="tab" tabindex="0">
                <a class="tabs__link tabs__link istats-notrack" href="#" tabindex="-1">Blogs</a>
            </li>
        </ul>
        <div aria-hidden="false" aria-labelledby="tab1" class="tabs__content" id="tab1-panel" role="tabpanel">
            <div class="tabs__row">
                <div class="tabs__col">
                    <div class="card--panel">
                        <div class="card__inner">
                            <div class="card__media">
                                <a class="card__media-link" href="/academy/en/articles/art20170307124827517">
                                <figure>
                                    <img alt="" class="is-loaded" onerror="this.style.display='none'" src="https://ichef.bbci.co.uk/images/ic/624x351/p04w9p0f.jpg">
                                    <figcaption class="icon__caption">
                                        Jamel's how to: Be careful on social media
                                    </figcaption>
                                </figure></a>
                                <div class="card__data">
                                    <a class="card--panel__link" href="/academy/en/articles/art20170307124827517">
                                    <div class="card__type">
                                        <div class="card__data-icon">
                                            <span class="card__data-icon__svg"><svg>
                                            <use xlink:href="#gel-icon-video" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-video-white.png" alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon==white.png" alt="media icon"/><![endif]--></span>
                                        </div><span class="card__type__copy">Video</span>
                                    </div>
                                    <h3 class="card__heading">Jamel's how to: Be careful on social media</h3></a>
                                </div>
                            </div><!-- End Card Media. -->
                        </div>
                    </div>
                </div>
                <div class="tabs__col">
                    <div class="card--panel">
                        <div class="card__inner">
                            <div class="card__media">
                                <a class="card__media-link" href="/academy/en/articles/art20170307122952750">
                                <figure>
                                    <img alt="" class="is-loaded" onerror="this.style.display='none'" src="https://ichef.bbci.co.uk/images/ic/624x351/p04w3sxl.jpg">
                                    <figcaption class="icon__caption">
                                        Jamel’s how to: Stand out
                                    </figcaption>
                                </figure></a>
                                <div class="card__data">
                                    <a class="card--panel__link" href="/academy/en/articles/art20170307122952750">
                                    <div class="card__type">
                                        <div class="card__data-icon">
                                            <span class="card__data-icon__svg"><svg>
                                            <use xlink:href="#gel-icon-video" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-video-white.png" alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon==white.png" alt="media icon"/><![endif]--></span>
                                        </div><span class="card__type__copy">Video</span>
                                    </div>
                                    <h3 class="card__heading">Jamel’s how to: Stand out</h3></a>
                                </div>
                            </div><!-- End Card Media. -->
                        </div>
                    </div>
                </div>
                <div class="tabs__col">
                    <div class="card--panel">
                        <div class="card__inner">
                            <div class="card__media">
                                <a class="card__media-link" href="/academy/en/articles/art20170307133826180">
                                <figure>
                                    <img alt="" class="is-loaded" onerror="this.style.display='none'" src="https://ichef.bbci.co.uk/images/ic/624x351/p04wdytv.jpg">
                                    <figcaption class="icon__caption">
                                        Jamel's how to: Research a company
                                    </figcaption>
                                </figure></a>
                                <div class="card__data">
                                    <a class="card--panel__link" href="/academy/en/articles/art20170307133826180">
                                    <div class="card__type">
                                        <div class="card__data-icon">
                                            <span class="card__data-icon__svg"><svg>
                                            <use xlink:href="#gel-icon-video" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-video-white.png" alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon==white.png" alt="media icon"/><![endif]--></span>
                                        </div><span class="card__type__copy">Video</span>
                                    </div>
                                    <h3 class="card__heading">Jamel's how to: Research a company</h3></a>
                                </div>
                            </div><!-- End Card Media. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="tab2" class="tabs__content hidden" id="tab2-panel" role="tabpanel">
            <div class="tabs__row">
                <div class="tabs__col">
                    <div class="card--panel">
                        <div class="card__inner">
                            <div class="card__media">
                                <a class="card__media-link" href="http://www.bbc.co.uk/blogs/academy/entries/708e52cf-0c13-45e2-904b-1a6c482e0d5b">
                                <figure>
                                    <img alt="" class="is-loaded" onerror="this.style.display='none'" src="https://ichef.bbci.co.uk/images/ic/624x351/p04xlglv.jpg">
                                    <figcaption class="icon__caption">
                                        Fake news: How CrossCheck is debunking false election reporting
                                    </figcaption>
                                </figure></a>
                                <div class="card__data">
                                    <a class="card--panel__link" href="http://www.bbc.co.uk/blogs/academy/entries/708e52cf-0c13-45e2-904b-1a6c482e0d5b">
                                    <div class="card__type">
                                        <div class="card__data-icon">
                                            <span class="card__data-icon__svg"><svg>
                                            <use xlink:href="#gel-icon-blog" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/><![endif]--></span>
                                        </div><span class="card__type__copy">Blog post</span>
                                    </div>
                                    <h3 class="card__heading">Fake news: How CrossCheck is debunking false election reporting</h3></a>
                                </div>
                            </div><!-- End Card Media. -->
                        </div>
                    </div>
                </div>
                <div class="tabs__col">
                    <div class="card--panel">
                        <div class="card__inner">
                            <div class="card__media">
                                <a class="card__media-link" href="http://www.bbc.co.uk/blogs/academy/entries/39367b1b-353c-47cf-8565-eff593e3639e">
                                <figure>
                                    <img alt="" class="is-loaded" onerror="this.style.display='none'" src="https://ichef.bbci.co.uk/images/ic/624x351/p04wyxmc.jpg">
                                    <figcaption class="icon__caption">
                                        Why evocative sound comes first in radio storytelling - Hugh Sykes
                                    </figcaption>
                                </figure></a>
                                <div class="card__data">
                                    <a class="card--panel__link" href="http://www.bbc.co.uk/blogs/academy/entries/39367b1b-353c-47cf-8565-eff593e3639e">
                                    <div class="card__type">
                                        <div class="card__data-icon">
                                            <span class="card__data-icon__svg"><svg>
                                            <use xlink:href="#gel-icon-blog" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/><![endif]--></span>
                                        </div><span class="card__type__copy">Blog post</span>
                                    </div>
                                    <h3 class="card__heading">Why evocative sound comes first in radio storytelling - Hugh Sykes</h3></a>
                                </div>
                            </div><!-- End Card Media. -->
                        </div>
                    </div>
                </div>
                <div class="tabs__col">
                    <div class="card--panel">
                        <div class="card__inner">
                            <div class="card__media">
                                <a class="card__media-link" href="http://www.bbc.co.uk/blogs/academy/entries/ae5fe90d-7f9e-4ed7-bce8-d692a240d2ad">
                                <figure>
                                    <img alt="" class="is-loaded" onerror="this.style.display='none'" src="https://ichef.bbci.co.uk/images/ic/624x351/p04ww4rw.jpg">
                                    <figcaption class="icon__caption">
                                        BBC Academy launches sites in Bangla, Kyrgyz, Somali, Spanish and Ukrainian
                                    </figcaption>
                                </figure></a>
                                <div class="card__data">
                                    <a class="card--panel__link" href="http://www.bbc.co.uk/blogs/academy/entries/ae5fe90d-7f9e-4ed7-bce8-d692a240d2ad">
                                    <div class="card__type">
                                        <div class="card__data-icon">
                                            <span class="card__data-icon__svg"><svg>
                                            <use xlink:href="#gel-icon-blog" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-blog-white.png" alt="blog icon"/><![endif]--></span>
                                        </div><span class="card__type__copy">Blog post</span>
                                    </div>
                                    <h3 class="card__heading">BBC Academy launches sites in Bangla, Kyrgyz, Somali, Spanish and Ukrainian</h3></a>
                                </div>
                            </div><!-- End Card Media. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
```

NUNJUKS

```

```

*/

/*doc
---
title: Tabs--filter
category: Modules - Tabs
---

Module description goes here

```html_example
<section>
    <h6 class="sr-only">Filter results and sorting options</h6>
    <h2 class="sr-only">Filter search results</h2>
    <div class="tabs--filter">
        <a class="sr-only skip-link" href="#results-container">Skip search filters</a>
        <ul class="tabs__list" id="tabs">
            <li class="tabs__item">Filter:</li>
            <li class="tabs__item">
                <a class="tabs__link tabs__link--active" href="?q=-dog">All</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="?q=-dog&amp;fq=article">Articles</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="?q=-dog&amp;fq=guide">Guides</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="?q=-dog&amp;fq=blogs-post">Blogs</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="?q=-dog&amp;fq=course">Courses</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="?q=-dog&amp;fq=topic">Collections</a>
            </li>
            <li class="tabs__more" style="display: none;">
                <a class="tabs__link istats-notrack" href="#">More
                <figure>
                    <div class="tabs__more-icon">
                        <span class="tabs__more-icon__svg"><svg>
                        <use xlink:href="#gel-icon-down" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png" alt="more filters icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png" alt="more filters icon"/><![endif]--></span>
                    </div>
                    <figcaption class="icon__caption">
                        Show more filter options
                    </figcaption>
                </figure></a>
            </li>
        </ul>
        <ul class="tabs__overflow" id="tabsOverflow"></ul>
    </div><!-- End Search results filter. -->
</section>
```

NUNJUKS

```

```

*/