/* ==========================================================================
   BASE SCROLL CAROUSEL STYLES
   ========================================================================== */
   $VcardWidth: 185px;
   $cardMargin--desk: 16px;
   $cardMargin--mobile: 8px;
   $gradOffset: 87px;
   //* ===========================BLOCK
   .scroll-carousel-p {
       display: block;
       background: palette(brand, a);
       position: relative;
       overflow: hidden;
       margin: 0 0 double($gel-spacing-unit) 0;
       padding: 0px 0px 0px 0px;
       background-color: rgba(228, 228, 228, 0.6);
       //* =======================ELEMENT
       &__wrapper {
           @extend .wrapper;
           padding-left: 16px;
           padding-right: 0;
           h4 {
               padding-top: 12px;
               margin: 0;
           }
       }
       ul {
           list-style: none;
           margin-left: 0;
       }
       &__heading {
           @extend .h3;
           color: palette(type, body);
           margin-bottom: $gel-spacing-unit;
           &--nointro {
               @extend .scroll-carousel__heading;
               margin-bottom: double($gel-spacing-unit);
           }
       }
       .section__intro {
           color: palette(shades, white);
       }
       &__available {
           @extend #{gel(great-primer)};
           margin: double($gel-spacing-unit) 0 0 double($gel-spacing-unit);
       }
       &__container {
           position: relative;
           display: block;
           width: 100%;
           margin-top: double($gel-spacing-unit);
           height: 185px;
           &::after {
               display: none;
           }
           &::before {
               display: none;
           }
       }
       &__visible {
           overflow: scroll;
           overflow-x: scroll;
           -webkit-overflow-scrolling: touch;
           margin: 0 -87px;
           &::-webkit-scrollbar {
               display: none;
           }
       }
       &__viewport {
           @include clearfix;
           position: relative;
           height: 600px;
           z-index: 0;
       }
       &__list {
           position: absolute;
           top: 0;
           left: 87px;
           height: 394px;
           width: auto;
           list-style: none;
           margin: 0;
           padding: 0;
           @for $i from 1 through 30 {
               &--#{$i} {
                   @extend .scroll-carousel__list;
                   width: ($VcardWidth * $i) + ( $cardMargin--mobile * ($i - 1)) + $gradOffset;
               }
           }
       }
       &__item {
           width: 266px;
           margin: 0;
           float: left;
           max-height: 175px;
           width: 185px;
           margin-right: 4px;
           position: relative;
           &:last-child {
               margin-right: 0;
           }
           .card {
               margin: 3px 0 0 0;
               height: 394px;
           }
           .card__media,
           .card__body {
               width: 100%;
               padding: $gel-spacing-unit 0;
               min-height: 80px;
               h3 {
                   font-size: 15px;
               }
           }
           .card__inner {
               @include clearfix;
           }
           .card__body {
               min-height: 210px;
           }
           .card__heading {
               margin-bottom: double($gel-spacing-unit);
               min-height: 60px;
           }
           .card__description {
               display: block;
           }
           .card__media-icon {
               background-color: palette(shades, white);
           }
           .card__media-icon__svg svg {
               fill: palette(brand, a);
           }
           .card__data__wrapper {
               position: absolute;
               float: none;
               left: $gel-spacing-unit;
               bottom: halve($gel-spacing-unit);
               margin: 0;
           }
       }
       &__buttons {
           position: absolute;
           top: 12px;
           right: -1px;
           z-index: 3;
       }
       &__button {
           position: absolute;
           top: 0;
           width: 48px;
           height: 48px;
           background-color: palette(shades, white);
           border: none;
           z-index: 4;
           &__text {
               display: block;
               overflow: hidden;
               text-indent: 100%;
               white-space: nowrap;
               font-size: 2px;
           }
           &:before {
               position: absolute;
               top: 50%;
               left: 50%;
               width: 18px;
               height: 22px;
               margin-top: -11px;
               margin-left: -9px;
               display: block;
               content: '';
           }
           &:disabled {
               cursor: default;
               opacity: .4;
           }
           &--next {
               @extend .scroll-carousel__button;
               right: 0;
               &:before {
                   @include svg-bg-fallback(arrow-right-purple);
               }
           }
           &--prev {
               @extend .scroll-carousel__button;
               right: 49px;
               &:before {
                   @include svg-bg-fallback(arrow-left-purple);
               }
           }
       }
       //* =======================MODIFIER
       &--inline {
           @extend .scroll-carousel;
           background: palette(brand, d);
           .scroll-carousel__heading {
               color: palette(type, body);
               .h3 {
                   color: palette(brand, a);
               }
           }
           .scroll-carousel__button {
               background-color: palette(brand, b);
               &--next {
                   &:before {
                       background-image: url(/academy/static/img/svg/arrow-right.svg);
                   }
               }
               &--prev {
                   &:before {
                       background-image: url(/academy/static/img/svg/arrow-left.svg);
                   }
               }
           }
       }
       &--dates {
           @extend .scroll-carousel;
           width: 100%;
           background: palette(shades, white);
           margin: 0;
           padding: 0 0 double($gel-spacing-unit) 0;
           .scroll-carousel__heading {
               color: palette(type, body);
               margin: 0 0 0 16px;
           }
           .scroll-carousel__buttons {
               top: -70px;
           }
           .scroll-carousel__button {
               background-color: palette(brand, a);
               &--next {
                   &:before {
                       @include svg-bg-fallback(arrow-right);
                   }
               }
               &--prev {
                   &:before {
                       @include svg-bg-fallback(arrow-left);
                   }
               }
           }
           .scroll-carousel__container {
               margin-top: 75px;
               &:before {
                   content: none;
               }
           }
           .scroll-carousel__container,
           .scroll-carousel__viewport,
           .scroll-carousel__list,
           .scroll-carousel__item {
               height: 303px;
           }
           .scroll-carousel__wrapper {
               padding-left: 0;
               padding-right: 0;
           }
           .scrollbar__indicator {
               background: palette(brand, a);
           }
       }
       //* =======================BREAKPOINTS - xs, s, m, l
       @include bp(xs, min-width) {}
       @include bp(s, min-width, true) {
           margin: 0 0 quadruple($gel-spacing-unit) 0;
           &__available {
               margin: double($gel-spacing-unit) 0;
           }
           &__container {
               &:before,
               &:after {
                   position: absolute;
                   top: 0;
                   z-index: 50;
                   height: 400px;
                   content: ' ';
               }
               &:before {
                   left: -88px;
                   width: 89px;
                   background: -moz-linear-gradient(left, #121260 0%, rgba(64, 41, 99, 0.8) 100%);
                   /* FF3.6-15 */
                   background: -webkit-linear-gradient(left, #121260 0%, rgba(64, 41, 99, 0.8) 100%);
                   /* Chrome10-25,Safari5.1-6 */
                   background: linear-gradient(to right, #121260 0%, rgba(18, 18, 96, .8) 100%);
                   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                   // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#402963', endColorstr='#cc402963', GradientType=1);
                   /* IE6-9 */
               }
               &:after {
                   right: -88px;
                   width: 89px;
                   background: -moz-linear-gradient(left, rgba(64, 41, 99, 0.8) 0%, #121260 100%);
                   /* FF3.6-15 */
                   background: -webkit-linear-gradient(left, rgba(64, 41, 99, 0.8) 0%, #121260 100%);
                   /* Chrome10-25,Safari5.1-6 */
                   background: linear-gradient(to right, rgba(18, 18, 96, .8) 0%, #121260 100%);
                   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                   // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc402963', endColorstr='#402963', GradientType=1);
                   /* IE6-9 */
               }
           }
           &__item {
               margin-right: $gel-spacing-unit;
               .card__data__wrapper {
                   left: double($gel-spacing-unit);
                   bottom: $gel-spacing-unit;
               }
           }
           .content-block__row {
               .content-block__col--4 {
                   width: gel-columns(1, 2);
                   .card__body {
                       min-height: 200px;
                   }
               }
           }
           &__list {
               @for $i from 1 through 30 {
                   &--#{$i} {
                       width: ($VcardWidth * $i) + ( $cardMargin--desk * ($i - 1)) + $gradOffset;
                   }
               }
           }
           &--dates {
               margin: 0;
               padding: 0 0 quadruple($gel-spacing-unit) double($gel-spacing-unit);
               .scroll-carousel__heading {
                   margin: 0;
               }
               .scroll-carousel__container {
                   margin-top: quadruple($gel-spacing-unit);
                   &:after {
                       right: -88px;
                       width: 89px;
                       background: palette(shades, white);
                   }
               }
           }
       }
       @include bp(m, min-width) {
           .content-block__row {
               .content-block__col--4 {
                   width: gel-columns(1, 4);
                   .card__body {
                       min-height: 240px;
                   }
               }
           }
       }
       @include bp(l, min-width, true) {
           &--dates {
               margin: 0;
           }
       }
   }
   
   .exampleOutput {
       .scroll-carousel__button--prev:before {
           background-image: url("../img/svg-fallbacks/arrow-left-purple.png");
           background-image: none, url("../img/svg/arrow-left-purple.svg");
       }
       .scroll-carousel__button--next:before {
           background-image: url("../img/svg-fallbacks/arrow-right-purple.png");
           background-image: none, url("../img/svg/arrow-right-purple.svg");
       }
       .scroll-carousel--dates .scroll-carousel__button--next:before {
           background-image: url("../img/svg-fallbacks/arrow-right.png");
           background-image: none, url("../img/svg/arrow-right.svg");
       }
       .scroll-carousel--dates .scroll-carousel__button--prev:before {
           background-image: url("../img/svg-fallbacks/arrow-left.png");
           background-image: none, url("../img/svg/arrow-left.svg");
       }
   }
   