/* ==========================================================================
   GLOBAL RTL STYLES
   ========================================================================== */

//* ===========================RTL
.rtl {
    #orb-modules {
        direction: rtl;
        font-family: "BBCNassim Bold", "BBCNassim";
    }
    #orb-search-form {
        position: relative;
    }
    #orb-search-button {
        position: absolute;
        left: 0;
        top: $gel-spacing-unit;
    }
    //* =======================ELEMENT
    .sidebar-left {
        float: right;
    }
    .header {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .logo {
        float: right;
        margin: 8px 24px 0 0;
    }
    .header.search-open .search,
    .search-open.header--narrow .search {
        padding-left: 0;
        padding-right: 0;
        right: 16px;
        left: 0;
    }
    .hero--homepage .hero__heading,
    .hero--homepage .hero__description {
        text-align: right;
    }
    .card__media-icon__tag {
        padding-right: 32px!important;
        padding-left: 8px!important;
    }
    .search {
        padding-left: 0;
        padding-right: 0;
        float: left;
        width: calc(100% - 310px);
        left: 100px;
        &__input {
            float: left;
            text-align: right;
            padding-left: 56px;
            padding-right: 10px;
        }
        &__button {
            left: 0;
            right: auto;
            z-index: 10;
            &__wrapper {
                right: auto;
                left: 0;
            }
            &--clear {
                left: 40px;
            }
            &--close {
                float: left;
                margin-left: double($gel-spacing-unit);
                margin-right: 0;
            }
        }
        &__tooltip {
            right: 5%;
            left: auto;
            &--box {
                &:after {
                    left: 64px;
                    right: auto;
                }
            }
        }
        &--block {
            .search__button--clear {
                left: 64px;
                right: auto;
            }
        }
    }
    .nav {
        left: 0;
        right: auto;
        padding-left: 0;
        &__list {
            text-align: right;
            float: left;
        }
        &__menu-btn {
            float: left;
            margin: 0 0 0 8px;
        }
        .ellipses {
            padding: 0;
        }
    }
    .language__selector {
        float: left;
    }
    .tabs {
        &__item {
            float: right;
            &:first-child {
                .tabs__link {
                    padding-right: 0;
                    padding-left: quadruple($gel-spacing-unit);
                }
            }
        }
        &__more {
            float: left;
            .tabs__link {
                padding-right: quadruple($gel-spacing-unit);
                padding-left: 0;
            }
        }
        &--filter {
            .tabs__item {
                &:first-child {
                    padding: 12px 0 12px double($gel-spacing-unit);
                }
            }
        }
        &__overflow {
            li {
                &:first-child .tabs__link {
                    padding-right: double($gel-spacing-unit);
                }
            }
        }
    }
    .card {
        &__media {
            float: right;
        }
        &__media-icon {
            left: auto;
            right: 0;
        }
        &__body {
            float: right;
            &--left {
                float: right;
            }
            &--right {
                float: left;
            }
        }
        &__data {
            float: right;
            &__wrapper {
                left: auto;
                right: 52%;
                .data__icon__svg {
                    right: 0;
                    left: auto;
                    &+.card__date {
                        padding-right: 24px;
                        padding-left: 0;
                    }
                }
            }
        }
        &__data-icon {
            float: right;
        }
        &__date {
            padding-left: 0;
            padding-right: double($gel-spacing-unit);
        }
        &__type {
            padding-left: 0;
            padding-right: double($gel-spacing-unit);
        }
        &__tag {
            border-right: 1px solid #dcdcdc;
            padding-right: 8px;
            border-left: none;
        }
        &--featured {
            .card__data__wrapper {
                right: $gel-spacing-unit;
            }
            .card__tag {
                border-right: 1px solid #dcdcdc;
                padding-right: 8px;
                border-left: none;
            }
        }
        &--sub {
            .card__data__wrapper {
                right: $gel-spacing-unit;
            }
            .card__tag {
                border-right: 1px solid #dcdcdc;
                padding-right: 8px;
                border-left: none;
            }
        }
    }
    .content-block {
        &--featured {
            direction: rtl;
        }
    }
    .scroll-carousel__item {
        margin-right: double($gel-spacing-unit);
        .card__data__wrapper {
            right: $gel-spacing-unit;
        }
    }
    .divider {
        &__icon {
            left: auto;
            right: 0;
        }
        &__message {
            float: right;
            padding-left: double($gel-spacing-unit);
            padding-right: 0;
        }
        &--bestmatch {
            .divider__message {
                margin-right: quadruple($gel-spacing-unit);
                padding-right: double($gel-spacing-unit);
            }
        }
    }
    .dropdown {
        &__button {
            padding-left: quadruple($gel-spacing-unit);
            padding-right: 0;
        }
    }
    .data {
        &__icon {
            float: right;
        }
    }
    .dates {
        &__location {
            p {
                padding: 0 20px 0 0;
            }
        }
    }
    .podcast {
        &__button {
            padding-left: quadruple($gel-spacing-unit);
        }
    }
    .accordion {
        &__link {
            padding: double($gel-spacing-unit) double($gel-spacing-unit) double($gel-spacing-unit) 52px;
            &__icon {
                right: auto;
                left: 0;
            }
        }
    }
    .scroll-carousel {
        &__list {
            left: auto;
            right: 87px;
        }
        &__item {
            margin-left: double($gel-spacing-unit);
            margin-right: 0;
            float: right;
        }
        &__buttons {
            right: auto;
            left: 97px;
        }
    }
    //* =======================MODIFIER
    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {}
    @include bp(s, min-width, portrait) {
        .logo {
            float: right;
            margin: 0 0 0 0;
        }
        .logo--translated {
            float: right;
            margin: 0 double($gel-spacing-unit) 0 0;
        }
        .nav {
            left: 0;
            right: auto;
            &__list {
                text-align: right;
                float: left;
            }
            &__overflow {
                right: 83px;
                text-align: right;
                left: auto;
                .nav__item {
                    float: right;
                }
            }
        }
        .card {
            &__data {
                &__wrapper {
                    right: double($gel-spacing-unit);
                }
            }
        }
        .card {
            &--featured {
                .card__data__wrapper {
                    right: auto;
                    left: 35.6%;
                }
            }
        }
        .search {
            left: 20px;
            &__tooltip {
                right: 50%;
                width: 330px;
                margin-right: -220px;
                &--box:after {
                    bottom: 100%;
                    right: auto;
                    left: 50%;
                }
                &--message {
                    &:before {
                        content: "To begin your search please enter a search term and click the submit button.";
                    }
                }
            }
        }
        .scroll-carousel__item {
            .card {
                &__data {
                    &__wrapper {
                        right: double($gel-spacing-unit);
                    }
                }
            }
        }
        .hero {
            &--homepage {
                .hero__grad {
                    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 76%);
                    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 76%);
                    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 76%);
                    filter: "progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=1)";
                }
            }
        }
    }
    @include bp(m, min-width) {
        .set__bg {
            left: auto;
            right: 0;
        }
        .sidebar--article {
            padding-right: double($gel-spacing-unit);
            padding-left: 0px;
        }
        .wrapper--article {
            padding: 0 0 quadruple($gel-spacing-unit) quadruple($gel-spacing-unit);
        }
        .main--article {
            //   padding-right: 16.66667%;
            padding-left: 0;
            float: right;
            .data--article {
                right: -197px;
                left: auto;
            }
        }
        .search {
            width: 375px;
            &__tooltip {
                margin-right: -200px;
            }
        }
        .nav {
            &__list {
                text-align: right;
                float: right;
            }
            &__item {
                border-left: none;
                border-right: 1px solid #525284;
                &:first-of-type {
                    border-right: none;
                }
                &--language {
                    right: auto;
                    left: double($gel-spacing-unit);
                    border-right: none;
                }
                &:last-of-type {
                    .nav__link {
                        padding-left: 0;
                    }
                }
            }
        }
        .card {
            &--featured {
                .card__data__wrapper {
                    right: auto;
                    left: 21.8%;
                }
            }
        }
    }
    @include bp(l, min-width) {
        .nav {
            left: 0;
            right: auto;
            &__overflow {
                right: 333px;
            }
        }
        .search {
            &__tooltip {
                margin-right: -334px;
            }
        }
        .card {
            &--featured {
                .card__data__wrapper {
                    right: double($gel-spacing-unit);
                    left: auto;
                }
            }
        }
    }
}