/* ==========================================================================
   BASE ARTICLE STYLES
   ========================================================================== */

//* ===========================BLOCK
.article {
    margin-bottom: $gel-spacing-unit*6;
    //* =======================ELEMENT 
    &__media {
        margin-bottom: quadruple($gel-spacing-unit);
    }
    &__figure {
        @extend .ratio;
        img {
            width: 100%;
        }
    }
    &__content {
        @extend #{gel(pica)};
        clear:both;
        ul,
        .list {
            list-style: outside;
            margin-left: 20px;
            li {
                margin-bottom: $gel-spacing-unit;
            }
        }
        &>.h4 {
            margin-bottom: quadruple($gel-spacing-unit);
        }
        &>p {
            @extend #{gel(articlebody)};
        }
        .img-caption {
            padding: $gel-spacing-unit double($gel-spacing-unit);
            background-color: palette(brand, d);
            margin-bottom: quadruple($gel-spacing-unit);
        }
    }
    &__section {
        @extend .article__content;
        margin: 0 0 quadruple($gel-spacing-unit) 0;
        border-bottom: 1px solid palette(brand, i);
        outline: none;
        p:last-of-type {
            margin: 0 0 quadruple($gel-spacing-unit) 0;
        }
        &:last-of-type {
            border-bottom: none;
        }
        &:focus {
            outline: none;
        }
    }
    .data--article {
        @extend .data;
    }
    //* =======================MODIFIER
    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {}
    @include bp(s, min-width, portrait) {}
    @include bp(m, min-width) {}
    @include bp(l, min-width) {}
}

.sidebar-left {
    @extend .col;
    padding-left: 0;
    .page__tag {
        @extend #{gel(pica)};
        //display: none;
        position: relative;
        a &+.page__tag {
            margin-left: $gel-spacing-unit;
            .card__data__wrapper {
                display: none;
            }
        }
        .card__data__wrapper {
            position: relative;
            left: 8px;
            bottom: 0px;
            display: inline-block;
            margin: 0;
            svg {
                fill: #b2b3b1;
            }
        }
        a {
            @extend .link--blue;
            left: 16px;
            position: relative;
        }
    }
    @include bp(mc, min-width) {
        .data__icon__svg {
            top: 0;
            margin-top: 0;
        }
        .data__type {
            display: inline-block;
        }
        .page__tag {
            margin-bottom: $gel-spacing-unit;
            a {
                max-width: 200px;
                left: 14px;
                position: relative;
                display: inline-block;
            }
        }
    }
    @include bp(xs, min-width) {}
    @include bp(s, min-width, portrait) {
        float: none;
        width: 100%;
        top: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        .page__tag {
            margin-bottom: $gel-spacing-unit;
            a {
                max-width: 200px;
                left: 14px;
                position: relative;
                display: inline-block;
            }
        }
    }
    @include bp(m, min-width) {}
    @include bp(l, min-width) {
        float: left;
        position: relative;
        top: 28px;
        width: gel-columns(2/12);
        display: block;
        height: auto;
        overflow: auto;
        .data--article {
            display: block;
            color: #53565a;
            margin-bottom: 16px;
        }
        .page__tag {
            margin-bottom: $gel-spacing-unit;
            a {
                max-width: 130px;
                left: 14px;
                position: relative;
            }
            &+.page__tag {
                margin-left: 0;
                .card__data__wrapper {
                    display: block;
                }
            }
        }
        .data__type {
            display: block;
        }
    }
}

.no-js {
    .sidebar-left {
        @include bp(s, min-width, portrait) {
            display: block;
            height: auto;
            overflow: auto;
            width: 75%;
            background: white;
            padding-top: 24px;
            padding-left: 14px;
        }
        @include bp(l, min-width) {
            float: left;
            position: relative;
            top: 28px;
            width: gel-columns(2/12);
            display: block;
            height: auto;
            overflow: auto;
        }
    }
}