/* ==========================================================================
   BASE COLLECTIONS STYLES
   ========================================================================== */

//* ===========================BLOCK
.collections {

    //* =======================ELEMENT
    &__sections {
        @extend .list--simple;
        display: none;
        background: palette(brand, a);
        padding-bottom: halve($gel-spacing-unit);
        position: relative;
        width: 100%;

        &__menu {
            @extend .h3;
            display: block;
            margin-top: 0;
            margin-bottom: 16px;
            background-color: palette(brand, b);
            padding: 8px 16px 12px;
            color: palette(shades, white);
            border-bottom: none;

            &.open {
                margin-bottom: 0;

                .collections__sections__menu__icon {
                    background: palette(shades, white);
                }

                .collections__sections__menu__svg {
                    -o-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);

                   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701987210297e-16, M12=-1, M21=1, M22=-1.8369701987210297e-16, SizingMethod='auto expand')";

                   filter: progid:DXImageTransform.Microsoft.Matrix(
                            M11=-1.8369701987210297e-16,
                            M12=-1,
                            M21=1,
                            M22=-1.8369701987210297e-16,
                            SizingMethod='auto expand');
                   -moz-transform-origin: 30px 50% 0px;
                   -moz-transform: rotate(90deg);
                    svg {
                        fill: palette(brand, a);
                    }
                }
            }

            &:hover {
                color: palette(shades, white);
            }

            &__icon {
                @extend .icon;
                width: 44px;
                height: 44px;
                position: absolute;
                right: 16px;
                top: 0;
            }

            &__svg {
                @extend .icon__svg;
                padding: 0 12px;

                svg {
                    fill: palette(shades, white);
                }
            }
        }

        &__wrapper {
            @extend .wrapper;
            position: relative;
            z-index: 99999;

            &.open {
                .collections__sections {
                    display: block;
                }
            }
        }

        &__item {
            display: block;
            margin: 0;
            height: auto;
            background: palette(shades, white);
            border-bottom: 1px solid #e8e8e8;

            &:last-of-type {
                border-bottom: none;
            }

            @for $i from 1 through 30 {
                &--#{$i} {
                    @extend .collections__sections__item;
                    width: gel-columns(1, 1);
                }
            }
        }

        &__link {
            @extend #{gel(brevier)};
            display: block;
            border: none;
            font-weight: normal;
            text-align: left;
            padding: double($gel-spacing-unit);
        }
    }

    &__container {
        background: palette(shades, white);
        padding: 32px 32px 16px;
        margin-bottom: 32px;

        .page-title {
            margin-top: 0;
        }
    }

    &__subheading {
        @extend .h3;
        font-weight: normal;
        margin-bottom: quadruple($gel-spacing-unit);
    }

    .content-block {
        .card__body {
            max-height: 100px;
            min-height: 100px;
        }
        &__col--4 {
            width: 100%;
        }
    }

    //* =======================MODIFIER

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {
    }

    @include bp(fc, min-width) {
        &__sections {
            &__menu {
                &__icon {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }

    @include bp(s, min-width, portrait) {
        .content-block {
            &__col--4 {
                width: gel-columns(1, 2);
            }
            .card__body {
                max-height: 180px;
                min-height: 180px;
            }
        }
    }

    @include bp(m, min-width) {
        &__sections {
            display: table;
            max-width: 976px;
            margin: 0 auto;
            padding-bottom: 0;

            &__menu {
                display: none;
            }

            &__box {
                display: block;
                width: 100%;
                height:84px;

                & + .wrapper {
                    margin-top: quadruple($gel-spacing-unit);
                }
            }

            &__wrapper {
                max-width: 100%;
                background: palette(shades, white);
                border-bottom: 4px solid palette(brand, a);

                &.sticky {
                    position: fixed;
                    top: 0;
                    -webkit-box-shadow: 0px 10px 54px -4px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 10px 54px -4px rgba(0,0,0,0.75);
                    box-shadow: 0px 10px 54px -4px rgba(0,0,0,0.75);
                }
            }

            &__item {
                display: table-cell;
                vertical-align: middle;
                height: 60px;
                background: palette(shades, white);
                border-left: 1px solid #e8e8e8;
                border-bottom: none;

                &:first-of-type {
                    border-left: none;
                }

                &.active {
                    background: palette(brand, a);

                    .collections__sections__link {
                        color: palette(shades, white);
                    }
                }

                @for $i from 1 through 30 {
                    &--#{$i} {
                        width: gel-columns(1, $i);
                    }
                }
            }

            &__link {
                padding: $gel-spacing-unit double($gel-spacing-unit);
            }
        }
        .content-block {
            &__col--4 {
                width: gel-columns(1, 3);
            }
        }
    }

    @include bp(l, min-width) {
        &__sections {
            max-width: 1248px;
        }

        .content-block {
            &__col--4 {
                width: gel-columns(1, 4);
            }
        }
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Collections
category: Modules - Collections
---

Module description goes here

```html_example
<section class="collections">
    <div class="collections__container">
        <h1 class="page-title">Collections</h1>
        <h2 class="collections__subheading">Courses and other materials collected together by BBC content editors around a particular theme</h2>
    </div>

    <div class="content-block__row">
        <div class="content-block__col--4">
            <div class="card--collections">
                <div class="card__inner">
                    <a href="/academy/en/collections/academy-on-the-road" class="card__link">
                        <div class="card__media">
                            <figure>
                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04qn66j.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                            </figure>
                        </div>
                        <!-- End Card Media. -->

                        <div class="card__body">
                            <h3 class="card__heading">Academy on the Road</h3>
                            <p class="card__description">We're taking to the road in a series of exciting staff events at BBC sites across the UK. Find out when we are...</p>
                        </div>
                        <div class="card__media-icon__wrapper">
                            <div class="card__media-icon">
                                <span class="card__media-icon__svg">
                                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-collection"></use></svg>
                                    <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/><![endif]-->
                                </span>
                            </div>
                            <span class="card__media-icon__tag">Collection</span>
                        </div>
                    </a>
                    <!-- End Card Body. -->
                </div>
            </div>
            <!-- End Item card. -->
        </div>
        <div class="content-block__col--4">
            <div class="card--collections">
                <div class="card__inner">
                    <a href="/academy/en/collections/get-in" class="card__link">
                        <div class="card__media">
                            <figure>
                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04vznbr.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                            </figure>
                        </div>
                        <!-- End Card Media. -->

                        <div class="card__body">
                            <h3 class="card__heading">BBC Get In</h3>
                            <p class="card__description">Skills to help you take the next step in your career.</p>
                        </div>
                        <div class="card__media-icon__wrapper">
                            <div class="card__media-icon">
                                <span class="card__media-icon__svg">
                                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-collection"></use></svg>
                                    <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/><![endif]-->
                                </span>
                            </div>
                            <span class="card__media-icon__tag">Collection</span>
                        </div>
                    </a>
                    <!-- End Card Body. -->
                </div>
            </div>
            <!-- End Item card. -->
        </div>
        <div class="content-block__col--4">
            <div class="card--collections">
                <div class="card__inner">
                    <a href="/academy/en/collections/digital-induction" class="card__link">
                        <div class="card__media">
                            <figure>
                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p040mk4q.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                            </figure>
                        </div>
                        <!-- End Card Media. -->

                        <div class="card__body">
                            <h3 class="card__heading">BBC Induction</h3>
                            <p class="card__description">Welcome to the BBC Induction, helping you with your first steps at the BBC.</p>
                        </div>
                        <div class="card__media-icon__wrapper">
                            <div class="card__media-icon">
                                <span class="card__media-icon__svg">
                                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-collection"></use></svg>
                                    <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/><![endif]-->
                                </span>
                            </div>
                            <span class="card__media-icon__tag">Collection</span>
                        </div>
                    </a>
                    <!-- End Card Body. -->
                </div>
            </div>
            <!-- End Item card. -->
        </div>
        <div class="content-block__col--4">
            <div class="card--collections">
                <div class="card__inner">
                    <a href="/academy/en/collections/news-style-guide" class="card__link">
                        <div class="card__media">
                            <figure>
                                <img src="https://ichef.bbci.co.uk/images/ic/624x351/p01dbjcv.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                            </figure>
                        </div>
                        <!-- End Card Media. -->

                        <div class="card__body">
                            <h3 class="card__heading">BBC News style guide</h3>
                            <p class="card__description">Audiences expect the BBC to demonstrate the highest standards of English because well-written stories are...</p>
                        </div>
                        <div class="card__media-icon__wrapper">
                            <div class="card__media-icon">
                                <span class="card__media-icon__svg">
                                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-collection"></use></svg>
                                    <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-collection-white.png" alt="data icon"/><![endif]-->
                                </span>
                            </div>
                            <span class="card__media-icon__tag">Collection</span>
                        </div>
                    </a>
                    <!-- End Card Body. -->
                </div>
            </div>
            <!-- End Item card. -->
        </div>
    </div>
</section>
```

NUNJUKS

```
<section class="collections">
    <div class="collections__container">
        <h1 class="page-title">{{ 'Collections' | i18n }}</h1>

        <h2 class="collections__subheading">{{ 'collectionsazTitle' | i18n }}</h2>
    </div>
    <div class="content-block__row">
    {% if atoz.length %}
        {% for item in atoz %}
            <div class="content-block__col--4">
                {% include "partials/modules/card--collections.html" %}
            </div>
        {% endfor %}
    {% else %}
        <div class="content-block__col--4">
            {% include "partials/modules/card--empty.html" %}
        </div>
    {% endif %}
    </div>
</section>
```

*/
