/* ==========================================================================
   BASE CONTENT BLOCK STYLES
   ========================================================================== */


//* ===========================BLOCK
.content-block {
    margin: 0 0 double($gel-spacing-unit) 0;

    // -------------------------- ELEMENT
    &__row {
        @extend .row;
    }

    &__col {
        @extend .col;
    }

    &__wrapper {
        @include clearfix;
        background: palette(shades, white);
    }

    &__item {
        & + .content-block__item {
            margin-top: double($gel-spacing-unit);
        }
    }

    &__media {
        display: inline-block;
        float: left;
        width: gel-columns(1, 2);
    }

    &__link {
        display: block;
        border: none;
    }

    &__content {
        display: inline-block;
        float: left;
        width: gel-columns(1, 2);
        padding: double($gel-spacing-unit);
    }

    &__heading {
        margin-bottom: $gel-spacing-unit;
    }

    &__description {
        @extend #{gel(brevier)};
    }

    // -------------------------- MODIFIER
    &--featured {
        @extend .content-block;
    }

    &--full {
        display: block;
        background: palette(brand, a);
        position: relative;
        padding: $gel-spacing-unit 0 0 0;
        margin: 0 0 double($gel-spacing-unit) 0;
        overflow: hidden;

        .content-block__wrapper {
            @extend .wrapper;
            background: palette(brand, a);
        }

        .content-block__title {
            color: palette(shades, white);
        }
    }
    &__col--1{
        @extend .content-block__col;
        width: gel-columns(1, 1);
    }
    &__col--2{
        @extend .content-block__col;
        width: gel-columns(1, 1);
    }
    &__col--3{
        @extend .content-block__col;
        width: gel-columns(1, 1);
    }
    &__col--4{
        @extend .content-block__col;
        width: gel-columns(1, 1);
    }
    &__col--5{
        @extend .content-block__col;
        width: gel-columns(1, 1);
    }
    &__col--6{
        @extend .content-block__col;
        width: gel-columns(1, 1);
    }

    &__item {
        &--alt {
            @extend .content-block__item;

            .content-block__media {
                float: right;
            }
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width) {
    }

    @include bp(s, min-width, true) {
        margin: 0 0 quadruple($gel-spacing-unit) 0;

        &--featured {
            .content-block__row {
                display: flex;
            }
            .card--featured, .card--sub {
                height: 100%;
            }
        }

        &--full {
            padding: double($gel-spacing-unit) 0;
            margin: 0 0 quadruple($gel-spacing-unit) 0;

            .card__body {
                width: 100%;
                height: 220px;
            }

            .content-block__col--4{
                width: gel-columns(1, 2);
            }

        }
        &__col--1{
            width: gel-columns(1, 1);
        }
        &__col--2{
            width: gel-columns(1, 2);
        }
        &__col--3{
            width: gel-columns(1, 3);
        }
        &__col--4{
            width: gel-columns(1, 4);
        }
        &__col--5{
            width: gel-columns(1, 5);
        }
        &__col--6{
            width: gel-columns(1, 6);
        }
    }

    @include bp(m, min-width) {
        &--full {
            .card__body {
                height: 260px;
            }
            .content-block__col--4{
                width: gel-columns(1, 4);
            }

        }
        &__col--4{
            width: gel-columns(1, 4);
        }
    }

    @include bp(l, min-width, true) {
        &__heading {
            margin-bottom: double($gel-spacing-unit);
        }
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Content block
category: Modules - Content block
---

Module description goes here

```html_example
<section class="content-block">
    <h2 class="section__title--nointro">More to read, watch and listen to</h2>
    <div class="content-block__row">
        <div class="content-block__col--2">
            <div class="card--panel">
                <div class="card__inner">

                    <div class="card__media">
                        <a href="/academy/en/articles/art20161104151533832" class="card__media-link ">
                            <figure>
                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04f603k.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                <figcaption class="icon__caption">Working with children resources</figcaption>
                            </figure>
                        </a>
                        <div class="card__data">
                        <a href="/academy/en/articles/art20161104151533832" class="card--panel__link">
                            <div class="card__type">
                                <div class="card__data-icon">
                                    <span class="card__data-icon__svg">
                                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-document"></use></svg>
                                        <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-document-white.png" alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-document-white.png" alt="media icon"/><![endif]-->
                                    </span>
                                </div>

                                    <span class="card__type__copy">Article</span>
                            </div>
                            <h3 class="card__heading">Working with children resources</h3>
                        </a>
                        </div>
                    </div>
                    <!-- End Card Media. -->
                </div>
            </div>
        </div>
        <div class="content-block__col--2">
            <div class="card--panel">
                <div class="card__inner">

                    <div class="card__media">
                        <a href="/academy/en/articles/art20140428142034522" class="card__media-link ">
                            <figure>
                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p01y46ck.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                <figcaption class="icon__caption">Reporting on children: Alison Holt</figcaption>
                            </figure>
                        </a>
                        <div class="card__data">
                        <a href="/academy/en/articles/art20140428142034522" class="card--panel__link">
                            <div class="card__type">
                                <div class="card__data-icon">
                                    <span class="card__data-icon__svg">
                                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-video"></use></svg>
                                        <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-video-white.png"  alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon--white.png" alt="media icon"/><![endif]-->
                                    </span>
                                </div>

                                    <span class="card__type__copy">Video</span>
                            </div>
                            <h3 class="card__heading">Reporting on children: Alison Holt</h3>
                        </a>
                        </div>
                    </div>
                    <!-- End Card Media. -->
                </div>
            </div>
        </div>
        <div class="content-block__col--2">
            <div class="card--panel">
                <div class="card__inner">

                    <div class="card__media">
                        <a href="/academy/en/articles/art20160309171326085" class="card__media-link ">
                            <figure>
                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p03m8jk1.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                <figcaption class="icon__caption">CBBC’s Our School: Fixed rigs and children</figcaption>
                            </figure>
                        </a>
                        <div class="card__data">
                        <a href="/academy/en/articles/art20160309171326085" class="card--panel__link">
                            <div class="card__type">
                                <div class="card__data-icon">
                                    <span class="card__data-icon__svg">
                                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-podcast"></use></svg>
                                        <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-podcast-white.png"  alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon--white.png" alt="media icon"/><![endif]-->
                                    </span>
                                </div>

                                    <span class="card__type__copy">Podcast</span>
                            </div>
                            <h3 class="card__heading">CBBC’s Our School: Fixed rigs and children</h3>
                        </a>
                        </div>
                    </div>
                    <!-- End Card Media. -->
                </div>
            </div>
        </div>
        <div class="content-block__col--2">
            <div class="card--panel">
                <div class="card__inner">

                    <div class="card__media">
                        <a href="/academy/en/articles/art20140522115128283" class="card__media-link ">
                            <figure>
                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p020pc93.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                <figcaption class="icon__caption">Getting the most from children in your reports: Alison Holt</figcaption>
                            </figure>
                        </a>
                        <div class="card__data">
                        <a href="/academy/en/articles/art20140522115128283" class="card--panel__link">
                            <div class="card__type">
                                <div class="card__data-icon">
                                    <span class="card__data-icon__svg">
                                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-video"></use></svg>
                                        <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-video-white.png"  alt="media icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon--white.png" alt="media icon"/><![endif]-->
                                    </span>
                                </div>

                                    <span class="card__type__copy">Video</span>
                            </div>
                            <h3 class="card__heading">Getting the most from children in your reports: Alison Holt</h3>
                        </a>
                        </div>
                    </div>
                    <!-- End Card Media. -->
                </div>
            </div>
        </div>
    </div>
</section>
```

NUNJUKS

```
<section class="content-block">
    {% if data.intro %}
        <h2 class="section__title">{{ data.heading }}</h2>
        <p class="section__intro">{{ data.intro }}</p>
    {% else %}
        <h2 class="section__title--nointro">{{ data.heading }}</h2>
    {% endif %}

    <div class="content-block__row">
        {% for item in data.items %}
            <div class="content-block__col--2">
                {% include "partials/modules/card--panel.html" %}
            </div>
        {% endfor %}
    </div>
</section>
<!-- End Content Block. -->
```

*/
