/* ==========================================================================
   BASE COURSE STYLES
   ========================================================================== */

//* ===========================BLOCK
.course {
    margin-bottom: $gel-spacing-unit*6;
    //* =======================ELEMENT
    &__media {
        margin-bottom: quadruple($gel-spacing-unit);
    }
    &__figure {
        position: relative;
        overflow: visible;
        margin: 0;
    }
    &__pic {
        @extend .ratio;
        img {
            width: 100%;
        }
    }
    &__header {
        &__cta {
            position: relative;
            overflow: visible;
            margin: double($gel-spacing-unit) 0;
            height: 52px;
        }
    }
    &__content {
        .h4 {
            margin-bottom: quadruple($gel-spacing-unit);
        }
        p {
            @extend #{gel(pica)};
        }
        blockquote p {
            @extend #{gel(great-primer)};
        }
        .img-caption {
            padding: $gel-spacing-unit double($gel-spacing-unit);
            background-color: palette(brand, d);
            margin-bottom: quadruple($gel-spacing-unit);
        }
    }
    &__skip {
        @extend .button;
        &__icon {
            @extend .icon;
            width: double($gel-spacing-unit);
            height: double($gel-spacing-unit);
        }
        &__svg {
            @extend .icon__svg;
            top: -3px;
            svg {
                fill: palette(shades, white);
            }
        }
    }
    //* =======================MODIFIER
    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {}
    @include bp(s, min-width, portrait) {}
    @include bp(m, min-width) {}
    @include bp(l, min-width) {}
}