/* ==========================================================================
   BASE DATES STYLES
   ========================================================================== */

//* ===========================BLOCK
.dates {
    position: relative;
    width: 100%;
    float: left;
    background: palette(shades, white);
    padding: 0;

    //* =======================ELEMENT
    &__col {
        @extend .col;
        width: gel-columns(1, 1);
        padding: 0;
    }

    &__card {
        display: block;
        width: 100%;
        padding: double($gel-spacing-unit);
        background: $dates;

        @include ie8 {
            border-right: 1px solid palette(shades, lightergray);
            border-left: 1px solid palette(shades, lightergray);
            border-bottom: 1px solid palette(shades, lightergray);
        }

        .dropdown {
            position: relative;
        }
        .dropdown__link {
            background: palette(brand, b);
        }
        .dropdown__icon {
            margin: 0;
            background: palette(brand, b);
        }

        &--empty {
            @extend .dates__card;
            border: 2px #d2d2d2 dashed;

            .dates__location {
                margin-bottom: 0;
                padding-bottom: 0;
                height: auto;
            }
        }
    }

    &__date {
        @extend .h4;
        min-height: 48px;
    }

    &__time {
        position: relative;
        margin-bottom: double($gel-spacing-unit);

        p {
            @extend #{gel(brevier)};
            display: inline;
            padding: 0 0 0 20px;
        }
    }

    &__location {
        position: relative;
        margin-bottom: double($gel-spacing-unit);
        padding-bottom: double($gel-spacing-unit);
        border-bottom: 1px solid palette(brand, d);
        height: 60px;

        p{
            @extend #{gel(brevier)};
            display: inline;
            padding: 0 0 0 20px;
        }
    }

    &__icon {
        @extend .icon;
        position: absolute;
        width: 13px;
        height: double($gel-spacing-unit);
        top: 0;
    }

    &__svg {
        @extend .icon__svg;
        
        svg {
            fill: palette(type, grey);
        }
    }

    &__spaces {
        position: relative;
        display: block;
        width: 100%;
        background-color: palette(brand, d);
        height: double($gel-spacing-unit);
        margin-bottom: $gel-spacing-unit;
        &__title {
            @extend #{gel(pica)};
            display: inline-block;
            width: 50%;
            margin-bottom: halve($gel-spacing-unit);

            &--full {
                @extend .dates__spaces__title;
                color: palette(alerts, error);
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 0;
            height: double($gel-spacing-unit);
            background-color: palette(brand, a);
            width: 20%;
            z-index: 1;
        }

        &__copy {
            @extend #{gel(brevier)};
            display: inline-block;
            width: 48%;
            text-align: right;
        }
    }

    &__button {
        @extend .button;
        width: 100%;
        background: palette(brand, b);
        text-transform: uppercase;

        &:hover {
            color: palette(shades, white);
        }
        
    }

    &__list {
        @extend .list--simple;
        margin: 0 double($gel-spacing-unit);
    }

    &__item {
        width: 100%;
        height: auto;
        margin: double($gel-spacing-unit) 0;
        position: relative;
    }

    .scroll-carousel__heading {
        color: palette(type, body);
        margin: 0 0 0 16px;
    }

    //* =======================MODIFIER
    &--none {
        @extend .dates;

        .dates__date {
            min-height: 0;
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width) {
    }

    @include bp(s, min-width, portrait) {
        padding: 0 0 quadruple($gel-spacing-unit) double($gel-spacing-unit);

        &__list {
            float: left;
            margin: quadruple($gel-spacing-unit) 0;
            height: auto;
        }

        &__item {
            width: 266px;
            margin: 0;
            float: left;
            margin: 0 double($gel-spacing-unit) 0 0;
        }

        .scroll-carousel__heading {
            margin: 0;
        }
    }

    @include bp(m, min-width) {
    }

    @include bp(l, min-width) {
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Dates
category: Modules - Dates
---

Module description goes here

```html_example
<section class="scroll-carousel--dates js-scroll-carousel js-setdates">
    <div class="scroll-carousel__wrapper">
        <h2 class="scroll-carousel__heading">Upcoming Course Dates</h2>
        <p class="scroll-carousel__available">8 Available</p>
        <div class="scroll-carousel__container">
            <form class="scroll-carousel__buttons">
                <button class="scroll-carousel__button--next" tabindex="-1"><span class="scroll-carousel__button__text">Next (as in next item)</span></button> <button class="scroll-carousel__button--prev" disabled tabindex="-1"><span class="scroll-carousel__button__text">Prev (as in prev item)</span></button>
            </form>
            <div class="scroll-carousel__visible">
                <div class="scroll-carousel__viewport">
                    <ul class="scroll-carousel__list--8">
                        <li class="scroll-carousel__item" data-scheduledoffering="110901">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 24th Apr</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC London Broadcasting House, (Old BH) L027</p>
                                </div><span class="dates__spaces__title"><strong>3</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">9</span>/<span id="seatsTotal">12</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 75%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                        <li class="scroll-carousel__item" data-scheduledoffering="111682">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 15th May</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC White City - Broadcast Centre,</p>
                                </div><span class="dates__spaces__title"><strong>8</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">2</span>/<span id="seatsTotal">10</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 20%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                        <li class="scroll-carousel__item" data-scheduledoffering="111683">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 12th Jun</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC White City - Broadcast Centre,</p>
                                </div><span class="dates__spaces__title"><strong>10</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">0</span>/<span id="seatsTotal">10</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 0%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                        <li class="scroll-carousel__item" data-scheduledoffering="111684">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 10th Jul</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC White City - Broadcast Centre,</p>
                                </div><span class="dates__spaces__title"><strong>10</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">0</span>/<span id="seatsTotal">10</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 0%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                        <li class="scroll-carousel__item" data-scheduledoffering="111822">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 11th Sep</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC White City - Broadcast Centre,</p>
                                </div><span class="dates__spaces__title"><strong>10</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">0</span>/<span id="seatsTotal">10</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 0%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                        <li class="scroll-carousel__item" data-scheduledoffering="111823">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 16th Oct</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC White City - Broadcast Centre,</p>
                                </div><span class="dates__spaces__title"><strong>10</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">0</span>/<span id="seatsTotal">10</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 0%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                        <li class="scroll-carousel__item" data-scheduledoffering="111824">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 13th Nov</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC White City - Broadcast Centre,</p>
                                </div><span class="dates__spaces__title"><strong>10</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">0</span>/<span id="seatsTotal">10</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 0%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                        <li class="scroll-carousel__item" data-scheduledoffering="111825">
                            <div class="dates__card">
                                <h3 class="dates__date">Mon 4th Dec</h3>
                                <div class="dates__time">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-duration" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]--></span>
                                    </div>
                                    <p class="dates__time">2:00 PM - 5:00 PM</p>
                                </div>
                                <div class="dates__location">
                                    <div class="dates__icon">
                                        <span class="dates__svg"><svg>
                                        <use xlink:href="#gel-icon-map" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]--></span>
                                    </div>
                                    <p>BBC White City - Broadcast Centre,</p>
                                </div><span class="dates__spaces__title"><strong>10</strong> Places left</span> <span class="dates__spaces__copy">(<span id="seatsTaken">0</span>/<span id="seatsTotal">10</span>)</span>
                                <div class="dates__spaces">
                                    <span class="dates__spaces__indicator" style="width: 0%;"></span>
                                </div>
                                <div class="card__button--request">
                                    <a class="card__button--request__cta" href="javascript:;">Book a Place</a>
                                    <div class="card__button__shelf">
                                        <legend>But first, who are you?</legend> <span class="close-x">×</span> <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50266587%26componentTypeID%3dCLASS%26revisionDate%3d1167642000000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a> <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50266587&amp;componentTypeID=CLASS&amp;revisionDate=1167642000000&amp;nativelogin=y">I'm a Freelancer or Other</a>
                                    </div>
                                </div>
                            </div><!-- End Date Card. -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="scrollbar">
            <div class="scrollbar__wrapper">
                <div class="scrollbar__track">
                    <div class="scrollbar__indicator" style="width: 223.395px;"></div>
                </div>
            </div>
        </div>
    </div><!-- End Scroll Carousel Wrapper. -->
    </section>
```

*/

/*doc
---
title: Less than 3 Dates
category: Modules - Dates
---

Module description goes here

```html_example
<section class="dates js-setdates">
    <div class="dates__col">
        <h3 class="scroll-carousel__heading">Upcoming Course Dates</h3>
        <p class="scroll-carousel__available">2 Available</p>
        
        <ul class="dates__list">
            <li class="dates__item" data-scheduledoffering="120881">
                <div class="dates__card">
                    <h3 class="dates__date">Mon 3rd  - Fri 7th Apr</h3>
                    <div class="dates__time">
                        <div class="dates__icon">
                            <span class="dates__svg">
                                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-duration"></use></svg>
                                <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]-->
                            </span>
                        </div>
                        <p class="dates__time">9:30 AM - 5:30 PM</p>
                    </div>
                    <div class="dates__location">
                        <div class="dates__icon">
                            <span class="dates__svg">
                                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-map"></use></svg>
                                <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]-->
                            </span>
                        </div>
                        <p>BBC London Broadcasting House, Training Space 2 (3rd Flr)</p>
                    </div>
                    <span class="dates__spaces__title"><strong>2</strong> Places left</span>
                    <span class="dates__spaces__copy">(<span id="seatsTaken">6</span>/<span id="seatsTotal">8</span>)</span>
                    <div class="dates__spaces">
                        <span class="dates__spaces__indicator" style="width: 75%;"></span>
                    </div>

                    <div class="card__button--request" for="120881">
                        <a href="javascript:;" class="card__button--request__cta">
                                Book a Place
                        </a>
                        <div class="card__button__shelf">
                            <legend>But first, who are you?</legend>
                            <span class="close-x">×</span>
                            <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-3821%26componentTypeID%3dCLASS%26revisionDate%3d1479915480000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a>
                            <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-3821&amp;componentTypeID=CLASS&amp;revisionDate=1479915480000&amp;nativelogin=y">I'm a Freelancer or Other</a>      
                        </div>
                    </div>
                </div>
                <!-- End Date Card. -->
            </li>
            <li class="dates__item" data-scheduledoffering="126102">
                <div class="dates__card">
                    <h3 class="dates__date">Mon 8th  - Fri 12th May</h3>
                    <div class="dates__time">
                        <div class="dates__icon">
                            <span class="dates__svg">
                                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-duration"></use></svg>
                                <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-duration.png" alt=""/><![endif]-->
                            </span>
                        </div>
                        <p class="dates__time">9:30 AM - 5:30 PM</p>
                    </div>
                    <div class="dates__location">
                        <div class="dates__icon">
                            <span class="dates__svg">
                                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-map"></use></svg>
                                <noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-map-grey.png" alt="map icon"/><![endif]-->
                            </span>
                        </div>
                        <p>BBC London Broadcasting House, Training Space 2 (3rd Flr)</p>
                    </div>
                    
                    <span class="dates__spaces__title">
                        <strong>7</strong> Places left</span>
                    <span class="dates__spaces__copy">(<span id="seatsTaken">1</span>/<span id="seatsTotal">8</span>)</span>
                    <div class="dates__spaces">
                        <span class="dates__spaces__indicator" style="width: 12%;"></span>
                    </div>

                    <div class="card__button--request" for="126102">
                        <a href="javascript:;" class="card__button--request__cta">
                                Book a Place
                        </a>
                        <div class="card__button__shelf">
                            <legend>But first, who are you?</legend>
                            <span class="close-x">×</span>
                            <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-3821%26componentTypeID%3dCLASS%26revisionDate%3d1479915480000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a>
                            <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-3821&amp;componentTypeID=CLASS&amp;revisionDate=1479915480000&amp;nativelogin=y">I'm a Freelancer or Other</a>      
                        </div>
                    </div>
                </div>
                <!-- End Date Card. -->
            </li>
        </ul>
    </div>
</section>
```

*/

/*doc
---
title: No Dates
category: Modules - Dates
---

Module description goes here

```html_example
<section class="dates--none">
    <div class="dates__col">
        <h3 class="scroll-carousel__heading">Upcoming Course Dates</h3>
        <p class="scroll-carousel__available">0 Available</p>
        <ul class="dates__list">
            <li class="dates__item">
                <div class="dates__card">
                    <h3 class="dates__date">No Dates Available</h3>

                    <p class="dates__time">We currently don't have any dates available for this course.</p>

                    <div class="card__button--request" for="">
                        <a href="javascript:;" class="card__button--request__cta">Request New Dates</a>
                        <div class="card__button__shelf">
                            <legend>But first, who are you?</legend>
                            <span class="close-x">×</span>
                            <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3dCOU-50485599%26componentTypeID%3dCLASS%26revisionDate%3d1357030800000%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a>
                            <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID=COU-50485599&amp;componentTypeID=CLASS&amp;revisionDate=1357030800000&amp;nativelogin=y">I'm a Freelancer or Other</a>      
                        </div>
                    </div>
                </div>
                <!-- End Date Card. -->
            </li>
        </ul>
    </div>
</section>
```

NUNJUKS

```
{% if type == 'class' and not schedule.length %}
<section class="dates--none">
    <div class="dates__col">
        <h3 class="scroll-carousel__heading">Upcoming Course Dates</h3>
        <p class="scroll-carousel__available">0 Available</p>

        <ul class="dates__list">
            <li class="dates__item">
                {% include "partials/modules/dates--empty.html" %}
            </li>
        </ul>
    </div>
</section>
{% elif type == 'class' and schedule.length < 3 %}
<section class="dates js-setdates">
    <div class="dates__col">

        <h3 class="scroll-carousel__heading">Upcoming Course Dates</h3>
        <p class="scroll-carousel__available">{{ schedule | length }} Available</p>
        
        <ul class="dates__list">
            {% for scheduleItem in schedule %}
            <li class="dates__item" data-scheduledoffering="{{ scheduleItem.id }}">
                {% include "partials/modules/dates.html" %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% elif type == 'class' and schedule.length > 2 %}
<section class="scroll-carousel--dates js-scroll-carousel js-setdates">
    <div class="scroll-carousel__wrapper">

        <h2 class="scroll-carousel__heading">Upcoming Course Dates</h2>
        <p class="scroll-carousel__available">{{ schedule | length }} Available</p>

        <div class="scroll-carousel__container">

            <form class="scroll-carousel__buttons">
                <button class="scroll-carousel__button--next" tabindex="-1"><span class="scroll-carousel__button__text">{{ 'next' | i18n }}</span></button>
                <button class="scroll-carousel__button--prev" tabindex="-1"><span class="scroll-carousel__button__text">{{ 'prev' | i18n }}</span></button>
            </form>

            <div class="scroll-carousel__visible">
                <div class="scroll-carousel__viewport">
                    <ul class="scroll-carousel__list--{{ schedule | length }}">
                        {% for scheduleItem in schedule %}
                        <li class="scroll-carousel__item" data-scheduledoffering="{{ scheduleItem.id }}">
                            {% include "partials/modules/dates.html" %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="scrollbar">
            <div class="scrollbar__wrapper">
                <div class="scrollbar__track">
                    <div class="scrollbar__indicator"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Scroll Carousel Wrapper. -->
</section>
<!-- End Scroll Carousel Section. -->
{% endif %}
```

*/