/* ==========================================================================
   BASE TAKE COURSE BUTTON STYLES
   ========================================================================== */

//* ===========================BLOCK
.dropdown {
    position: absolute;
    bottom: 0;
    width: 100%;

    //* =======================ELEMENT
    &__list {
        list-style: none;
        margin-bottom: 0;
    }

    &__item {
        margin-bottom: 0;
    }

    &__button {
        @extend .button;
        min-width: 100%;

        &:hover {
            color: palette(brand, c);
        }
    }

    &__icon {
        @extend .icon;
        width: 16px;
        height: 16px;

        &__svg {
            @extend .icon__svg;
            top: -3px;

            svg {
                fill: palette(shades, white);
            }
        }
    }

    &__options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: palette(brand, a);
        width: 100%;
        border: 1px solid palette(brand, a);
        list-style: none;
        z-index: z(overlay);

        &.openthis {
            display: block;
        }

        .dropdown__item {
            text-align: center;
            color: white;
            padding: 0;
            margin: 0;

            a {
                @extend #{gel(long-primer)};
                display: block;
                color: palette(shades, white);
                border-bottom: none;
                padding: double($gel-spacing-unit) $gel-spacing-unit !important;

                &:hover {
                    color: palette(brand, a);
                    background-color: palette(brand, c);
                }

                &:after {
                    content: none !important;
                }
            }
        }
    }

    //* =======================MODIFIER

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width, true) {
        width: auto;

        &__button {
            min-width: 200px;
        }
    }

    @include bp(s, min-width, true) {
        &:hover .dropdown__options{
            display: block;
        }
    }

    @include bp(m, min-width, true) {
    }

    @include bp(l, min-width) {

    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Dropdown
category: Modules - Dropdown
---

Module description goes here

```html_example
<div style="min-height:130px">
<div class="dropdown js-dropdown" style="bottom: auto;">
    <ul class="dropdown__list js-dropdown__list">
        <li class="dropdown__item js-dropdown__item">
            <a href="#" class="dropdown__button js-dropdown__button istats-notrack">Take Course
                <figure class="dropdown__icon">
                    <span class="dropdown__icon__svg">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-down"></use>
                        </svg>
                        <noscript><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png" /></noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-down-white.png" /><![endif]-->
                    </span>
                    <figcaption class="icon__caption">Take online course</figcaption>
                </figure>
            </a>
            <ul class="dropdown__options js-dropdown__options">
                <li class="dropdown__item js-dropdown__item">
                    <a href="https://performancemanager.successfactors.eu/sf/learning?destUrl=https%3a%2f%2fbbcprod%2eplateau%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM_DETAILS%26componentID%3d{{ id }}%26componentTypeID%3d{{ type | upper }}%26revisionDate%3d{{ revisionDate }}%26fromSF%3dY&amp;company=S001190811T2">I'm BBC Staff or FTC</a>
                </li>
                <li class="dropdown__item js-dropdown__item">
                    <a href="https://bbcprod.plateau.com/learning/user/deeplink_redirect.jsp?linkId=ITEM_DETAILS&amp;componentID={{ id }}&amp;componentTypeID={{ type | upper }}&amp;revisionDate={{ revisionDate }}&amp;nativelogin=y">I'm a Freelancer or Other</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>
<!--end dropdown-->
```

*/
