/* ==========================================================================
   BASE HERO IMAGE STYLES
   ========================================================================== */

//* ===========================BLOCK
.hero {
    position: relative;
    width: 100%;
    padding: $gel-spacing-unit 0;
    margin: 0;
    color: palette(shades, white);
    background-color: palette(brand, f);
    z-index: 0;

    //* =======================ELEMENT
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        transform: translate3d(0,0,0) scale(1);
        background: black url('/academy/static/img/channel/mountain.jpg') no-repeat center center;
        background-size: cover;
        opacity: 0.5;
    }

    &__section {
        display: table;
        margin-top: double($gel-spacing-unit);
        margin-bottom: 0;
        padding: $gel-spacing-unit;
        color: palette(shades, white);
        background-color: palette(brand, b);
    }

    &__heading {
        @extend .h1;
        margin-top: 0;
        margin-bottom: $gel-spacing-unit;
        padding: 0;
        color: palette(type, body);
    }

    &__description {
        @extend #{gel(pica)};
        font-weight: normal;
        margin-bottom: quadruple($gel-spacing-unit);
        color: palette(type, body);
    }

    .row {
        display: table;
        width: 100%;
    }

    .col--1 {
        @extend .grid__col;
        display: block;
        vertical-align: middle;
    }

    .col--2 {
        @extend .grid__col;
        display: block;
        vertical-align: middle;
        height: 100%;
        padding: 0 0 0 $gel-spacing-unit;
    }

    //* =======================MODIFIER
    &--homepage {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("/academy/static/img/homepage/acad-hero.jpg");
        background-repeat: no-repeat;
        background-position: 80% 0;
        background-size: 200%;
        z-index: 3;
        margin-bottom: double($gel-spacing-unit);

        .wrapper {
            position: relative;
            z-index: 1;
        }

        .hero__heading {
            width: gel-columns(1, 1);
            display: block;
            margin-top: 0;
            background-color: transparent;
            padding: 0;
            margin-left: 0;
            color: palette(shades, white);
        }

        .hero__description {
            @extend #{gel(pica)};
            width: gel-columns(1, 1);
            margin-top: 0;
            padding: 0;
            color: palette(shades, white);
        }

        .hero__grad {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: rgba(0, 0, 0, 0.6);
        }
    }

    &--collections {
        @extend .hero;
        padding: 0;
        background-color: palette(brand, d);

        & + .wrapper, & + .collections__sections__box {
            margin-top: quadruple($gel-spacing-unit);
        }

        .hero__container {
            padding: double($gel-spacing-unit);
            background: palette(shades, white);
        }

        .card__media-icon {
            width: quadruple($gel-spacing-unit);
            height: quadruple($gel-spacing-unit);
            background-color: palette(brand, b);

            &__svg {
                padding: 0 $gel-spacing-unit;

                svg {
                    fill: palette(shades, white);
                }
            }

            &__wrapper {
                position: relative;
                left: 0;
                bottom: 0;
                display: table;
                width: auto;
                height: quadruple($gel-spacing-unit);
                background-color: palette(brand, b);
            }

            &__tag {
                @extend #{gel(brevier)};
                display: block;
                color: white;
                font-weight: normal;
                padding-left: quadruple($gel-spacing-unit);
                padding-right: $gel-spacing-unit;
                text-transform: uppercase;
                line-height: quadruple($gel-spacing-unit) !important;
            }
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(s, min-width, portrait) {
        &--homepage {
            background-position: 0 0;
            background-size: cover;

            .hero__heading, .hero__description {
                text-align: left;
            }
            .hero__heading {
                margin-top: double($gel-spacing-unit);
                width: gel-columns(8, 12);
            }
            .hero__description {
                width: gel-columns(8, 12);
            }
            .hero__grad {
                background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 25%, rgba(0,0,0,0) 76%);
                background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 25%,rgba(0,0,0,0) 76%);
                background: linear-gradient(to right,  rgba(0,0,0,0.8) 25%,rgba(0,0,0,0) 76%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 );
            }
        }
    }

    @include bp(m, min-width, true) {
        &--homepage {
            .hero__heading {
                margin-top: quadruple($gel-spacing-unit);
                width: gel-columns(6, 12);
            }

            .hero__description {
                width: gel-columns(6, 12);
            }
        }

        &--collections {
            .hero__container {
                padding: quadruple($gel-spacing-unit);
            }
        }
    }

    @include bp(l, min-width) {
        &--homepage {
            min-height: 450px;

            .hero__heading {
                margin-top: 100px;
                width: gel-columns(5, 12);
            }

            .hero__description {
                width: gel-columns(5, 12);
            }
        }
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Hero
category: Modules - Hero
---

Module description goes here

```html_example
<header class="hero--homepage" style="background-image: url(https://ichef.bbci.co.uk/images/ic/1920xn/p04swn9s.jpg)">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <h1 class="hero__heading">Discover, Learn, Grow</h1>
                <p class="hero__description">Training and development designed to support you in the BBC's mission to inform, educate and entertain</p>

                <section class="search--block" id="searchMoreCourses">
                    <h6 class="sr-only">Search for content</h6>
                    <div class="wrapper">
                        <div class="row">
                            <form class="search__button__wrapper">
                                <button type="button" class="search__button--close">
                                    <span class="search__icon"><span class="icon__svg gel-icon-search"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-no"><title>Close search box</title></use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /><![endif]--></span>
                                    </span>
                                </button>
                            </form>
                            <div class="search">
                                <form method="GET" action="/academy/find/" class="search__form" autocomplete="off">
                                    <label class="sr-only" for="SearchBlock">Search the Academy</label>
                                    <input type="search" id="SearchBlock" name="q" value="" placeholder="Search for courses and more..." class="search__input">
                                    <button type="button" class="search__button--clear">
                                        <span class="search__icon"><span class="icon__svg gel-icon-search"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-no"><title>Clear search term</title></use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /><![endif]--></span>
                                        </span>
                                    </button>
                                    <button type="submit" class="search__button">
                                        <span class="search__icon"><span class="icon__svg gel-icon-search"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-search"><title>Search</title></use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-search-purple.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-search-purple.png" alt="Search" /><![endif]--></span>
                                        </span>
                                    </button>
                                </form>
                            </div>
                            <!-- End Search bar. -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Hero Heading & Description. -->
    <div class="hero__grad" data-source="p04swn9s"></div>
</header>
```

NUNJUKS

```

```

*/
