/* ==========================================================================
   BASE NO RESULTS STYLES
   ========================================================================== */

//* ===========================BLOCK
.no-results {
    @include svg-bg-fallback(sad-icon);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    color: palette(type, grey);
    padding: 200px $gel-spacing-unit*5 70px $gel-spacing-unit*5;
    text-align: center;
    background-size: 120px;

    //* =======================ELEMENT
    &__heading {
        @extend #{gel(great-primer)};
        margin-bottom: $gel-spacing-unit;
    }

    &__sub-heading {
        @extend #{gel(pica)};
    }

    &__link {
        @extend #{gel(brevier)};
    }

    //* =======================MODIFIER
    &--start {
        @extend .no-results;
        @include svg-bg-fallback(new-search-icon);
    }

    @include ie8 {
        background-image: url('/academy/static/img/svg-fallbacks/sad-icon-ie8.png');

        &__link {
            display: none;
        }

        &--start {
            background-image: url('/academy/static/img/svg-fallbacks/new-search-icon-ie8.png');
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    @include bp(xs, min-width) {
    }

    @include bp(s, min-width, true) {
        padding: 230px 0 80px 0;
        background-size: 130px;
    }

    @include bp(m, min-width) {
        
    }

    @include bp(l, min-width) {
    }
}