/* ==========================================================================
   BASE POCKET STYLES
   ========================================================================== */

//* ===========================BLOCK
.pocket {
    margin: 0 0 double($gel-spacing-unit) 0;

    //* =======================ELEMENT
    &__content {
        @include transition(all .3s ease);
        @extend .row;
        overflow: hidden;
    }

    &__item {
        @extend .col;

        .card {
            &__description {
                display: none;
            }

            &__date {
                border-right: none;
            }
            &__media{
                position:relative;
                overflow:hidden;
            }
            .s-carousel{
                width:100%;
            }

        }
    }

    &__toggle {
        display: block;
        position: relative;
        text-align: center;
        margin-top: -19px;
        z-index: 4;
    }

    &__button {
        @extend .button;
        text-align: center;
        padding: halve($gel-spacing-unit) double($gel-spacing-unit) $gel-spacing-unit;
        z-index: 99;

        &:hover {
            svg {
                fill: palette(shades, white);
            }
        }

        &.open {
            svg {
                -o-transform:      rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform:         rotate(180deg);

               -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701987210297e-16, M12=-1, M21=1, M22=-1.8369701987210297e-16, SizingMethod='auto expand')";

               filter: progid:DXImageTransform.Microsoft.Matrix(
                        M11=-1.8369701987210297e-16,
                        M12=-1,
                        M21=1,
                        M22=-1.8369701987210297e-16,
                        SizingMethod='auto expand');

               -moz-transform-origin: 7px 45% 0px;
                -moz-transform: rotate(90deg);
            }
        }
    }

    &__icon {
        @extend .icon;
        position: relative;
        width: 16px;
        height: 16px;
        margin: 2px 0 2px 8px;

        &__svg {
            @extend .icon__svg;

            svg {
                @include transition(all .3s ease);
                fill: palette(shades, white);
            }
        }
    }

    //* =======================MODIFIER
    &:last-of-type {
        margin-bottom: quadruple($gel-spacing-unit);
    }

    &__item {
        &--1{
            width: gel-columns(1, 1);
        }
        &--2{
            width: gel-columns(1, 1);
        }
        &--3{
            width: gel-columns(1, 1);
        }
        &--4{
            width: gel-columns(1, 1);
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l

    /*@media only screen and (min-width: 543px) {
        &__item {
            .card {
                &__date {
                    border-right: 1px solid #dcdcdc;
                }
            }
        }
    }*/

    @include bp(xs, min-width, true) {
        &__toggle {
            margin-top: -29px;
        }

        &__button {
            padding: double($gel-spacing-unit);
        }
    }

    @include bp(s, min-width, true) {
        margin: 0 0 quadruple($gel-spacing-unit) 0;

        &__item {
            .card__body {
                height: 125px;
                min-height: 165px;
            }

            .card__date {
                margin-top: 0;
            }

            &--1{
                width: gel-columns(1, 1);
            }
            &--2{
                width: gel-columns(1, 2);
            }
            &--3{
                width: gel-columns(1, 3);
            }
            &--4{
                width: gel-columns(1, 3);
            }
        }
    }

    @include bp(m, min-width) {
        &__item {
            &--1{
                width: gel-columns(1, 1);
            }
            &--2{
                width: gel-columns(1, 2);
            }
            &--3{
                width: gel-columns(1, 3);
            }
            &--4{
                width: gel-columns(1, 3);
            }
        }
    }

    @include bp(l, min-width) {
        &__item {
            &--1{
                width: gel-columns(1, 1);
            }
            &--2{
                width: gel-columns(1, 2);
            }
            &--3{
                width: gel-columns(1, 3);
            }
            &--4{
                width: gel-columns(1, 4);
            }
        }
    }
}

.ar-pocket{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

//* ===========================STYLE GUIDE

/*doc
---
title: Pocket
category: Modules - Pocket
---

Module description goes here

```html_example
<div class="pocket js-pocket">
    <h2 class="section__title--nointro">Featured Academy Courses</h2>
    <div class="pocket__content">
        <div class="pocket__container">
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/articles/art20130716123718379" class="card__link">
                            <div class="card__media">
                                <figure>
                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04qlwpj.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-document"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type article</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">External online resources</h3>
                                <p class="card__description">Get free access to a huge range of online courses, resources and books - in areas like web development,...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Article</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/courses/COU-13703" class="card__link">
                            <div class="card__media">
                                <figure>
                                        <img src="http://s3-eu-west-1.amazonaws.com/bbcacademyfiles/assets/coursethumbnails/COU-13703_l.jpg" alt="" data-source="isURL" onerror="this.style.display='none'" class="is-loaded">

                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-pc"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type online course</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">Media Law Online: England, Wales &amp; Northern Ireland</h3>
                                <p class="card__description">The three Media Law Online 2015 courses have all been revised. As part of this revision, the ‘Media Law...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Online course</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/courses/COU-50485599" class="card__link">
                            <div class="card__media">
                                <figure>
                                    <img src="http://s3-eu-west-1.amazonaws.com/bbcacademyfiles/assets/coursethumbnails/COU-50485599_l.jpg" alt="" data-source="isURL" onerror="this.style.display='none'" class="is-loaded">
                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-classroom"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type classroom course</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">Radio Production Research</h3>
                                <p class="card__description">This course offers the opportunity to acquire the tools and skills of the factual researcher: identifying the...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Classroom course</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/articles/art20130716123718379" class="card__link">
                            <div class="card__media">
                                <figure>
                                    <img src="https://ichef.bbci.co.uk/images/ic/624x351/p04qlwpj.jpg" alt="" onerror="this.style.display='none'" class="is-loaded">
                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-document"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type article</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">External online resources</h3>
                                <p class="card__description">Get free access to a huge range of online courses, resources and books - in areas like web development,...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Article</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/courses/COU-13703" class="card__link">
                            <div class="card__media">
                                <figure>
                                        <img src="http://s3-eu-west-1.amazonaws.com/bbcacademyfiles/assets/coursethumbnails/COU-13703_l.jpg" alt="" data-source="isURL" onerror="this.style.display='none'" class="is-loaded">

                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-pc"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type online course</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">Media Law Online: England, Wales &amp; Northern Ireland</h3>
                                <p class="card__description">The three Media Law Online 2015 courses have all been revised. As part of this revision, the ‘Media Law...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Online course</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/courses/COU-50485599" class="card__link">
                            <div class="card__media">
                                <figure>
                                    <img src="http://s3-eu-west-1.amazonaws.com/bbcacademyfiles/assets/coursethumbnails/COU-50485599_l.jpg" alt="" data-source="isURL" onerror="this.style.display='none'" class="is-loaded">
                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-classroom"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type classroom course</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">Radio Production Research</h3>
                                <p class="card__description">This course offers the opportunity to acquire the tools and skills of the factual researcher: identifying the...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Classroom course</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/courses/COU-13703" class="card__link">
                            <div class="card__media">
                                <figure>
                                        <img src="http://s3-eu-west-1.amazonaws.com/bbcacademyfiles/assets/coursethumbnails/COU-13703_l.jpg" alt="" data-source="isURL" onerror="this.style.display='none'" class="is-loaded">

                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-pc"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type online course</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">Media Law Online: England, Wales &amp; Northern Ireland</h3>
                                <p class="card__description">The three Media Law Online 2015 courses have all been revised. As part of this revision, the ‘Media Law...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Online course</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
            <div class="pocket__item pocket__item--4">
                <div class="card">
                    <div class="card__inner">
                        <a href="/academy/en/courses/COU-50485599" class="card__link">
                            <div class="card__media">
                                <figure>
                                    <img src="http://s3-eu-west-1.amazonaws.com/bbcacademyfiles/assets/coursethumbnails/COU-50485599_l.jpg" alt="" data-source="isURL" onerror="this.style.display='none'" class="is-loaded">
                                    <div class="card__media-icon">
                                        <span class="card__media-icon__svg">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-classroom"></use></svg>
                                        </span>
                                    </div>
                                    <figcaption class="icon__caption">Content type classroom course</figcaption>
                                </figure>
                            </div>
                            <!-- End Card Media. -->

                            <div class="card__body">
                                <h3 class="card__heading">Radio Production Research</h3>
                                <p class="card__description">This course offers the opportunity to acquire the tools and skills of the factual researcher: identifying the...</p>
                            </div>
                        </a>
                        <!-- End Card Body. -->

                        <div class="card__data__wrapper">
                            <span class="card__content-type">Classroom course</span>
                        </div>
                    </div>
                </div>
                <!-- End Item card. -->
            </div>
        </div>
    </div>
    <div class="pocket__toggle">
        <hr class="divider--pocket">
        <a href="#" class="pocket__button istats-notrack" tabindex="-1" data-less="Show less" data-more="Show more"><span class="pocket__button__text">Show more</span>
            <div class="pocket__icon">
                <span class="pocket__icon__svg">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gel-icon-down"></use></svg>
                </span>
            </div>
        </a>
    </div>
</div>
```

NUNJUKS

```

```

*/
