/* ==========================================================================
   BASE SEARCH STYLES
   ========================================================================== */

//* ===========================BLOCK
.search {
    width: calc(100% - 350px);
    position: absolute;
    top: 0;
    left: 244px;

    //* =======================ELEMENT
    &__form {
        float: left;
        position: relative;
        width: 100%;
        height: 40px;

        label {
            color: palette(shades, white);
        }
    }

    &__input {
        @extend #{gel(pica)};
        display: none;
        background: white;
        height: 100%;
        width:  100%;
        float: left;
        border-radius: 0;
        border: 0;
        padding-left: 10px;
        opacity: 0;
    }

    &__button {
        position: absolute;
        right: halve($gel-spacing-unit);
        top: halve($gel-spacing-unit);
        background-color: palette(brand, a);
        width: 40px;
        height: 34px;
        border: 0;
        border-radius: 0;
        padding: $gel-spacing-unit;

        &--clear {
            @extend .search__button;
            display: none;
            height: 30px;
            width: 30px;
            right: 42px;
            margin-top: 1px;
            border-left: 1px solid palette(shades, lightergray);
            background-color: palette(shades, white);

            .search__icon {
                margin: -1px 0 0 0;
                width: 12px;
                .icon__svg {
                    svg {
                        fill: palette(type, body);
                    }
                }
            }

            &.active {
                display: block;
            }
        }
        &__wrapper {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 105px;
            height: 40px;
            background-color: palette(brand, a);
        }
        &--close {
            float: right;
            height: 40px;
            width: 40px;
            float: right;
            border: 0;
            background-color: palette(brand, a);
            margin-right: double($gel-spacing-unit);

            .search__icon {
                .icon__svg {
                    svg {
                        fill: palette(shades, white);
                    }
                }
            }

            &.active {
                display: block;
            }
        }
    }

    &__icon {
        @extend .icon;
        @extend .icon--search;
        margin: 0;
        width: double($gel-spacing-unit);
        height: double($gel-spacing-unit);

        title {
            color: palette(shades, white);
        }
    }

    //* =======================MODIFIER
    &--block {
        display: block;
        padding: $gel-spacing-unit 0;
        margin: double($gel-spacing-unit) -8px;
        background: palette(brand, a);

        .wrapper {
            padding-left: 0;
            padding-right: $gel-spacing-unit;
        }

        .search {
            position: relative;
            width: 100%;
            left: 0;
            display: block;
            overflow: visible;
            padding-left: double($gel-spacing-unit);
            max-width: 100%;
            margin: 0 auto;

            &__heading {
                @extend .col;
                margin-bottom: double($gel-spacing-unit);
                color: palette(shades, white);
            }

            &__form {
                height: 44px;
            }

            &__input {
                @extend #{gel(trafalgar)};
                opacity: 1;
                display: block;
                padding: $gel-spacing-unit;
                width: 100%;

                &::-webkit-input-placeholder {
                    color: palette(type, body);
                }
                &::-moz-placeholder {
                    color: palette(type, body);
                }
                &:-ms-input-placeholder {
                    color: palette(type, body);
                }
                &:-moz-placeholder {
                    color: palette(type, body);
                }
            }

            &__button {
                width: 44px;
                height: 37px;
                background-color: palette(shades, white);

                &--clear {
                    right: 46px;
                    height: 36px;
                    margin-top: 0;
                    border-left: 1px solid palette(shades, lightergray);
                    background-color: palette(shades, white);
                    .search__icon {
                        width: 10px;
                        height: 10px;
                        .icon__svg {
                            svg {
                                fill: palette(links, clear);
                            }
                        }
                    }

                    &.active {
                        display: block;
                        .search__icon {
                            .icon__svg {
                                svg {
                                    fill: palette(type, body);
                                }
                            }
                        }
                    }
                }
            }

            &__icon {
                width: double($gel-spacing-unit);
                height: double($gel-spacing-unit);
                .icon__svg {
                    svg {
                        fill: palette(brand, a);
                    }
                }
            }
        }
    }

    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {
        &--block {
            margin: quadruple($gel-spacing-unit) -8px;
        }
    }

    @include bp(s, min-width, true) {
        position: relative;
        display: inline-block;
        overflow: visible;
        padding-left: double($gel-spacing-unit);
        width: calc(100% - 500px);
        left: 0;

        &__input {
            opacity: 1;
            display: block;
            padding: $gel-spacing-unit;
            padding-right: 45px;
        }
        &__button {
            background-color: palette(shades, white);
        }
        &__icon {
            .icon__svg {
                svg {
                    fill: palette(brand, a);
                }
            }
        }
        &--block {
            .search {
                &__heading {
                    margin-bottom: quadruple($gel-spacing-unit);
                }
                &__form {
                    height: 64px;
                }
                &__input {
                    padding: double($gel-spacing-unit);
                }
                &__button {
                    width: 60px;
                    height: 56px;

                    &--clear {
                        right: 66px;
                        height: 44px;
                        margin-top: 6px;
                        
                        .search__icon {
                            width: double($gel-spacing-unit);
                            height: double($gel-spacing-unit);
                        }
                    }
                }
                &__icon {
                    width: quadruple($gel-spacing-unit);
                    height: quadruple($gel-spacing-unit);
                }
            }
            .wrapper {
                padding-left: $gel-spacing-unit;
                padding-right: $gel-spacing-unit;
            }
        }
    }

    @include bp(m, min-width, true) {
        position: relative;
        display: inline-block;
        margin: 0;
        width: 375px;
        left: 0;
        padding-left: 24px;
        float: right;
    }

    @include bp(l, min-width) {
        &--block {
            margin: 64px -8px quadruple($gel-spacing-unit) -8px;
        }
    }
}

//* ===========================STYLE GUIDE

/*doc
---
title: Search
category: Modules - Search
---

Module description goes here

```html_example
<div id="search01">
    <form class="search__button__wrapper">
        <button class="search__button--close" type="button"><span class="search__icon"><span class="icon__svg gel-icon-search"><svg>
        <use xlink:href="#gel-icon-no" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Close search box</title>
        </use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /><![endif]--></span></span></button>
    </form>
    <div class="search">
        <form action="/academy/search/" autocomplete="off" class="search__form" method="get">
            <label class="sr-only" for="HeaderSearch">Search the Academy</label> <input class="search__input" id="HeaderSearch" name="q" placeholder="Search BBC Academy" type="search" value=""> <button class="search__button--clear" type="button"><span class="search__icon"><span class="icon__svg gel-icon-search"><svg>
            <use xlink:href="#gel-icon-no" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Clear search term</title>
            </use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /><![endif]--></span></span></button> <button class="search__button" type="submit"><span class="search__icon"><span class="icon__svg gel-icon-search"><svg>
            <use xlink:href="#gel-icon-search" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Search</title>
            </use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-search-purple.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-search-purple.png" alt="Search" /><![endif]--></span></span></button>
        </form>
    </div><!-- End Search bar. -->
</div>
```

NUNJUKS

```

```

*/

/*doc
---
title: Search block
category: Modules - Search
---

Module description goes here

```html_example
<section class="search--block" id="searchMoreCourses">
    <h6 class="sr-only">Search for content</h6>
    <div class="wrapper">
        <div class="row">
            <form class="search__button__wrapper">
                <button class="search__button--close" type="button"><span class="search__icon"><span class="icon__svg gel-icon-search"><svg>
                <use xlink:href="#gel-icon-no" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Close search box</title>
                </use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /><![endif]--></span></span></button>
            </form>
            <div class="search">
                <form action="/academy/search/" autocomplete="off" class="search__form" method="get">
                    <label class="sr-only" for="SearchBlock">Search the Academy</label> <input class="search__input" id="SearchBlock" name="q" placeholder="Search for courses and more..." type="search" value=""> <button class="search__button--clear" type="button"><span class="search__icon"><span class="icon__svg gel-icon-search"><svg>
                    <use xlink:href="#gel-icon-no" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Clear search term</title>
                    </use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-no.png" alt="Search" /><![endif]--></span></span></button> <button class="search__button" type="submit"><span class="search__icon"><span class="icon__svg gel-icon-search"><svg>
                    <use xlink:href="#gel-icon-search" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Search</title>
                    </use></svg><noscript>&lt;img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-search-purple.png" alt="Search" /&gt;</noscript><!--[if lt IE 9]><img class="icon__falback" src="/academy/static/img/svg-fallbacks/gel-icon-search-purple.png" alt="Search" /><![endif]--></span></span></button>
                </form>
            </div><!-- End Search bar. -->
        </div>
    </div>
</section>
```

NUNJUKS

```

```

*/