/* ==========================================================================
   BASE NO RESULTS STYLES
   ========================================================================== */

//* ===========================BLOCK
.video-p {
    margin-bottom: 0;
    &__playlist {
        margin-bottom: 0;
    }
    &__item {
        width: 100%;
        height: auto;
        display: inline-block;
        a {
            border-bottom: 0;
            &:hover {
                .video-p--icon {
                    background-color: palette(brand, a);
                    svg {
                        fill: white;
                    }
                }
            }
        }
        &:hover {
            img {
                opacity: 0.9;
            }
        }
        .card__heading {
            font-size: 15px;
        }
    }
    &__top {
        position: relative;
    }
    &__desc {
        min-height: 35px;
        padding-bottom: 8px;
        padding-top: 4px;
    }
    &__add {
        position: absolute;
        display: none;
    }
    &__jump {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        width: 0px;
        height: 0px;
        overflow: hidden;
        &:focus {
            overflow: auto!important;
            width: auto!important;
            height: auto!important;
            padding: 4px 8px;
        }
    }
    //* =======================MODIFIER
    &--icon {
        width: 28px;
        height: 32px;
        background-color: white;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 12px;
            height: 12px;
        }
    }
    &--duration {
        height: 32px;
        width: auto;
        padding: 0 $gel-spacing-unit;
        background-color: white;
        left: 28px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend #{gel(minion)};
        font-weight: 500;
    }
    &--tag {
        top: 0;
        left: 0;
        padding: 4px 8px;
        background-color: palette(brand, a);
        color: white;
        @extend #{gel(minion)};
    }
    //* =======================BREAKPOINTS - xs, s, m, l
    @include bp(xs, min-width) {}
    @include bp(s, min-width, true) {}
    @include bp(m, min-width) {}
    @include bp(l, min-width) {}
}